In [1]:
import pandas as pd
import requests
pd.set_option('max_rows', 100)

In [2]:
url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/03-28-2020.csv'

### Get daily data from the url

In [3]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)
df = pd.read_html(r.text, header=[0], index_col=0)[0].iloc[:-1]

#### quick glance at the data

In [4]:
df[df.Country_Region=='US'].sort_values(by='Province_State')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,1123.0,Tallapoosa,Alabama,US,2020-03-28 23:05:37,32.866983,-85.798331,5,0,0,0,"Tallapoosa, Alabama, US"
NaN,1013.0,Butler,Alabama,US,2020-03-28 23:05:37,31.753001,-86.680575,1,0,0,0,"Butler, Alabama, US"
NaN,1121.0,Talladega,Alabama,US,2020-03-28 23:05:37,33.378232,-86.168862,4,0,0,0,"Talladega, Alabama, US"
NaN,1065.0,Hale,Alabama,US,2020-03-28 23:05:37,32.760393,-87.632850,0,0,0,0,"Hale, Alabama, US"
NaN,1117.0,Shelby,Alabama,US,2020-03-28 23:05:37,33.268798,-86.662326,72,0,0,0,"Shelby, Alabama, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,56027.0,Niobrara,Wyoming,US,2020-03-28 23:05:37,43.056077,-104.475890,0,0,0,0,"Niobrara, Wyoming, US"
NaN,56021.0,Laramie,Wyoming,US,2020-03-28 23:05:37,41.307025,-104.688750,19,0,0,0,"Laramie, Wyoming, US"
NaN,56033.0,Sheridan,Wyoming,US,2020-03-28 23:05:37,44.790489,-106.886239,6,0,0,0,"Sheridan, Wyoming, US"
NaN,56003.0,Big Horn,Wyoming,US,2020-03-28 23:05:37,44.524051,-107.996037,0,0,0,0,"Big Horn, Wyoming, US"
NaN,56045.0,Weston,Wyoming,US,2020-03-28 23:05:37,43.839612,-104.567488,0,0,0,0,"Weston, Wyoming, US"

In [5]:
df.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,3148.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000,3429.000000
mean,30472.462834,36.905570,-82.871955,192.679790,8.938758,40.657626,107.087781
std,15295.724160,9.980404,39.064314,2779.517601,216.053733,1137.416654,1903.826078
min,1001.000000,-42.882100,-170.132000,0.000000,0.000000,0.000000,-6.000000
25%,18180.500000,33.964725,-97.636135,0.000000,0.000000,0.000000,0.000000
50%,29182.000000,38.078093,-89.074836,1.000000,0.000000,0.000000,0.000000
75%,45089.500000,41.742283,-81.749524,9.000000,0.000000,0.000000,0.000000
max,99999.000000,71.706900,178.065000,92472.000000,10023.000000,62098.000000,70065.000000

### Aggregate by state

In [6]:
state_totals = df[df.Country_Region=='US'].groupby(by='Province_State').sum()

In [7]:
state_totals.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,5.900000e+01,59.000000,59.000000,59.000000,59.000000,59.000000,59.0
mean,1.625887e+06,2050.698673,-4918.484444,2058.949153,34.338983,18.169492,0.0
std,1.995046e+06,1723.851903,4444.367633,6922.277001,99.848611,139.562513,0.0
min,0.000000e+00,-14.271000,-25057.879425,0.000000,0.000000,0.000000,0.0
25%,1.600120e+05,561.685748,-7320.232710,139.000000,1.500000,0.000000,0.0
50%,1.288529e+06,1947.589655,-4708.049596,441.000000,5.000000,0.000000,0.0
75%,2.269284e+06,3302.767521,-1044.429181,1458.500000,27.500000,0.000000,0.0
max,1.225652e+07,8041.803434,145.673900,52410.000000,728.000000,1072.000000,0.0

In [8]:
state_totals.sort_values(by='Confirmed', ascending=False)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
Province_State,,,,,,,
New York,2235844.0,2637.737383,-4679.399365,52410,728,0,0
New Jersey,714441.0,846.015259,-1567.071444,11124,140,0,0
California,351364.0,2194.949775,-7002.258461,5095,110,0,0
Michigan,2164889.0,3655.620467,-7070.080729,4650,111,0,0
Massachusetts,350196.0,630.994149,-1071.277031,4257,44,0,0
Washington,2068521.0,1842.117670,-4708.049596,4030,188,0,0
Florida,808550.0,1939.030577,-5540.949842,3763,54,0,0
Illinois,1744404.0,4064.049006,-9096.189667,3491,47,0,0
Louisiana,1412096.0,1989.915353,-5876.747946,3315,137,0,0
Pennsylvania,2818489.0,2734.811250,-5200.226295,2845,34,0,0
Texas,12256516.0,8041.803434,-25057.879425,2455,30,0,0
Georgia,2092677.0,5216.556611,-13288.811358,2366,69,0,0
Colorado,515983.0,2491.870366,-6751.119357,1740,31,0,0
Connecticut,72064.0,332.909441,-581.254637,1524,33,0,0
Tennessee,4474025.0,3409.084710,-8180.328684,1511,7,0,0
Ohio,3439744.0,3547.338944,-7289.515905,1406,25,0,0
Indiana,1664464.0,3665.036491,-7932.108297,1233,31,0,0
Wisconsin,3965119.0,3196.450332,-6465.454559,1055,17,0,0
North Carolina,3710000.0,3562.420971,-7950.109874,1020,5,0,0
Maryland,577079.0,936.358097,-1840.211223,995,5,0,0
Missouri,3348537.0,4460.984726,-10729.940479,836,10,0,0
Arizona,60208.0,505.138555,-1671.948482,773,15,0,0
Virginia,6818111.0,4996.297993,-10442.323661,740,13,0,0
Alabama,71489.0,2203.246784,-5809.578199,694,4,0,0
Mississippi,2302724.0,2689.003578,-7350.949516,663,13,0,0
South Carolina,2072116.0,1562.043718,-3725.236386,660,15,0,0
Nevada,544774.0,667.351945,-1998.587890,626,10,0,0
Utah,1421841.0,1149.410881,-3236.285569,602,1,0,0
Oregon,1477296.0,1601.726424,-4373.169106,479,13,0,0
Minnesota,2356569.0,3963.025129,-8215.492913,441,5,0,0
Arkansas,380625.0,2618.391704,-6932.548370,409,5,0,0
Kentucky,2534400.0,4514.657262,-10223.986874,393,9,0,0
Oklahoma,3085929.0,2733.647411,-7488.357767,377,15,0,0
District of Columbia,11001.0,38.904178,-77.016560,304,4,0,0
Iowa,1890801.0,4160.961092,-9253.086423,298,3,0,0
Kansas,2111025.0,4040.964784,-10298.877911,266,4,0,0
Rhode Island,220025.0,208.275711,-357.320525,239,2,0,0
Idaho,705936.0,1947.589655,-5036.245496,234,4,0,0
Delaware,30009.0,117.327830,-226.599712,214,5,0,0
Vermont,700196.0,618.232941,-1017.581330,211,12,0,0
Maine,368256.0,715.003014,-1112.380298,211,1,0,0
New Mexico,1155995.0,1172.481604,-3601.107483,208,1,0,0
New Hampshire,330100.0,434.789729,-715.776567,187,2,0,0
Hawaii,75025.0,105.141415,-786.616182,149,0,0,0
Montana,1683136.0,2630.582703,-6143.222113,129,1,0,0
Grand Princess,99999.0,0.000000,0.000000,103,3,0,0
Puerto Rico,0.0,18.220800,-66.590100,100,3,0,0
West Virginia,2973025.0,2134.783954,-4433.959998,96,0,0,0
Nebraska,2891649.0,3842.926930,-9210.628137,96,2,0,0
North Dakota,2016809.0,2511.855857,-5313.217852,94,1,0,0
Alaska,62340.0,1747.579877,-4229.319334,85,2,0,0
Wyoming,1288529.0,990.998367,-2464.524571,82,0,0,0
South Dakota,3040485.0,2921.997865,-6554.501988,68,1,0,0
Guam,66000.0,13.444300,144.793700,55,1,0,0
Diamond Princess,88888.0,0.000000,0.000000,49,0,0,0
Virgin Islands,78000.0,18.335800,-64.896300,22,0,0,0
Northern Mariana Islands,69000.0,15.097900,145.673900,0,0,0,0
Recovered,0.0,0.000000,0.000000,0,0,1072,0
American Samoa,60000.0,-14.271000,-170.132000,0,0,0,0

In [9]:
state_totals.sort_values(by='Confirmed', ascending=False)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
Province_State,,,,,,,
New York,2235844.0,2637.737383,-4679.399365,52410,728,0,0
New Jersey,714441.0,846.015259,-1567.071444,11124,140,0,0
California,351364.0,2194.949775,-7002.258461,5095,110,0,0
Michigan,2164889.0,3655.620467,-7070.080729,4650,111,0,0
Massachusetts,350196.0,630.994149,-1071.277031,4257,44,0,0
Washington,2068521.0,1842.117670,-4708.049596,4030,188,0,0
Florida,808550.0,1939.030577,-5540.949842,3763,54,0,0
Illinois,1744404.0,4064.049006,-9096.189667,3491,47,0,0
Louisiana,1412096.0,1989.915353,-5876.747946,3315,137,0,0
Pennsylvania,2818489.0,2734.811250,-5200.226295,2845,34,0,0
Texas,12256516.0,8041.803434,-25057.879425,2455,30,0,0
Georgia,2092677.0,5216.556611,-13288.811358,2366,69,0,0
Colorado,515983.0,2491.870366,-6751.119357,1740,31,0,0
Connecticut,72064.0,332.909441,-581.254637,1524,33,0,0
Tennessee,4474025.0,3409.084710,-8180.328684,1511,7,0,0
Ohio,3439744.0,3547.338944,-7289.515905,1406,25,0,0
Indiana,1664464.0,3665.036491,-7932.108297,1233,31,0,0
Wisconsin,3965119.0,3196.450332,-6465.454559,1055,17,0,0
North Carolina,3710000.0,3562.420971,-7950.109874,1020,5,0,0
Maryland,577079.0,936.358097,-1840.211223,995,5,0,0
Missouri,3348537.0,4460.984726,-10729.940479,836,10,0,0
Arizona,60208.0,505.138555,-1671.948482,773,15,0,0
Virginia,6818111.0,4996.297993,-10442.323661,740,13,0,0
Alabama,71489.0,2203.246784,-5809.578199,694,4,0,0
Mississippi,2302724.0,2689.003578,-7350.949516,663,13,0,0
South Carolina,2072116.0,1562.043718,-3725.236386,660,15,0,0
Nevada,544774.0,667.351945,-1998.587890,626,10,0,0
Utah,1421841.0,1149.410881,-3236.285569,602,1,0,0
Oregon,1477296.0,1601.726424,-4373.169106,479,13,0,0
Minnesota,2356569.0,3963.025129,-8215.492913,441,5,0,0
Arkansas,380625.0,2618.391704,-6932.548370,409,5,0,0
Kentucky,2534400.0,4514.657262,-10223.986874,393,9,0,0
Oklahoma,3085929.0,2733.647411,-7488.357767,377,15,0,0
District of Columbia,11001.0,38.904178,-77.016560,304,4,0,0
Iowa,1890801.0,4160.961092,-9253.086423,298,3,0,0
Kansas,2111025.0,4040.964784,-10298.877911,266,4,0,0
Rhode Island,220025.0,208.275711,-357.320525,239,2,0,0
Idaho,705936.0,1947.589655,-5036.245496,234,4,0,0
Delaware,30009.0,117.327830,-226.599712,214,5,0,0
Vermont,700196.0,618.232941,-1017.581330,211,12,0,0
Maine,368256.0,715.003014,-1112.380298,211,1,0,0
New Mexico,1155995.0,1172.481604,-3601.107483,208,1,0,0
New Hampshire,330100.0,434.789729,-715.776567,187,2,0,0
Hawaii,75025.0,105.141415,-786.616182,149,0,0,0
Montana,1683136.0,2630.582703,-6143.222113,129,1,0,0
Grand Princess,99999.0,0.000000,0.000000,103,3,0,0
Puerto Rico,0.0,18.220800,-66.590100,100,3,0,0
West Virginia,2973025.0,2134.783954,-4433.959998,96,0,0,0
Nebraska,2891649.0,3842.926930,-9210.628137,96,2,0,0
North Dakota,2016809.0,2511.855857,-5313.217852,94,1,0,0
Alaska,62340.0,1747.579877,-4229.319334,85,2,0,0
Wyoming,1288529.0,990.998367,-2464.524571,82,0,0,0
South Dakota,3040485.0,2921.997865,-6554.501988,68,1,0,0
Guam,66000.0,13.444300,144.793700,55,1,0,0
Diamond Princess,88888.0,0.000000,0.000000,49,0,0,0
Virgin Islands,78000.0,18.335800,-64.896300,22,0,0,0
Northern Mariana Islands,69000.0,15.097900,145.673900,0,0,0,0
Recovered,0.0,0.000000,0.000000,0,0,1072,0
American Samoa,60000.0,-14.271000,-170.132000,0,0,0,0

In [10]:
df[df.Country_Region=='US'].groupby(by='Province_State').sum().sort_values(by='Deaths', ascending=False)

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active
Province_State,,,,,,,
New York,2235844.0,2637.737383,-4679.399365,52410,728,0,0
Washington,2068521.0,1842.117670,-4708.049596,4030,188,0,0
New Jersey,714441.0,846.015259,-1567.071444,11124,140,0,0
Louisiana,1412096.0,1989.915353,-5876.747946,3315,137,0,0
Michigan,2164889.0,3655.620467,-7070.080729,4650,111,0,0
California,351364.0,2194.949775,-7002.258461,5095,110,0,0
Georgia,2092677.0,5216.556611,-13288.811358,2366,69,0,0
Florida,808550.0,1939.030577,-5540.949842,3763,54,0,0
Illinois,1744404.0,4064.049006,-9096.189667,3491,47,0,0
Massachusetts,350196.0,630.994149,-1071.277031,4257,44,0,0
Pennsylvania,2818489.0,2734.811250,-5200.226295,2845,34,0,0
Connecticut,72064.0,332.909441,-581.254637,1524,33,0,0
Colorado,515983.0,2491.870366,-6751.119357,1740,31,0,0
Indiana,1664464.0,3665.036491,-7932.108297,1233,31,0,0
Texas,12256516.0,8041.803434,-25057.879425,2455,30,0,0
Ohio,3439744.0,3547.338944,-7289.515905,1406,25,0,0
Wisconsin,3965119.0,3196.450332,-6465.454559,1055,17,0,0
South Carolina,2072116.0,1562.043718,-3725.236386,660,15,0,0
Arizona,60208.0,505.138555,-1671.948482,773,15,0,0
Oklahoma,3085929.0,2733.647411,-7488.357767,377,15,0,0
Mississippi,2302724.0,2689.003578,-7350.949516,663,13,0,0
Oregon,1477296.0,1601.726424,-4373.169106,479,13,0,0
Virginia,6818111.0,4996.297993,-10442.323661,740,13,0,0
Vermont,700196.0,618.232941,-1017.581330,211,12,0,0
Missouri,3348537.0,4460.984726,-10729.940479,836,10,0,0
Nevada,544774.0,667.351945,-1998.587890,626,10,0,0
Kentucky,2534400.0,4514.657262,-10223.986874,393,9,0,0
Tennessee,4474025.0,3409.084710,-8180.328684,1511,7,0,0
Maryland,577079.0,936.358097,-1840.211223,995,5,0,0
Minnesota,2356569.0,3963.025129,-8215.492913,441,5,0,0
Delaware,30009.0,117.327830,-226.599712,214,5,0,0
North Carolina,3710000.0,3562.420971,-7950.109874,1020,5,0,0
Arkansas,380625.0,2618.391704,-6932.548370,409,5,0,0
Alabama,71489.0,2203.246784,-5809.578199,694,4,0,0
Kansas,2111025.0,4040.964784,-10298.877911,266,4,0,0
District of Columbia,11001.0,38.904178,-77.016560,304,4,0,0
Idaho,705936.0,1947.589655,-5036.245496,234,4,0,0
Grand Princess,99999.0,0.000000,0.000000,103,3,0,0
Puerto Rico,0.0,18.220800,-66.590100,100,3,0,0
Iowa,1890801.0,4160.961092,-9253.086423,298,3,0,0
New Hampshire,330100.0,434.789729,-715.776567,187,2,0,0
Rhode Island,220025.0,208.275711,-357.320525,239,2,0,0
Nebraska,2891649.0,3842.926930,-9210.628137,96,2,0,0
Alaska,62340.0,1747.579877,-4229.319334,85,2,0,0
Maine,368256.0,715.003014,-1112.380298,211,1,0,0
South Dakota,3040485.0,2921.997865,-6554.501988,68,1,0,0
Montana,1683136.0,2630.582703,-6143.222113,129,1,0,0
Utah,1421841.0,1149.410881,-3236.285569,602,1,0,0
Guam,66000.0,13.444300,144.793700,55,1,0,0
North Dakota,2016809.0,2511.855857,-5313.217852,94,1,0,0
New Mexico,1155995.0,1172.481604,-3601.107483,208,1,0,0
Hawaii,75025.0,105.141415,-786.616182,149,0,0,0
Recovered,0.0,0.000000,0.000000,0,0,1072,0
Virgin Islands,78000.0,18.335800,-64.896300,22,0,0,0
Northern Mariana Islands,69000.0,15.097900,145.673900,0,0,0,0
Diamond Princess,88888.0,0.000000,0.000000,49,0,0,0
West Virginia,2973025.0,2134.783954,-4433.959998,96,0,0,0
American Samoa,60000.0,-14.271000,-170.132000,0,0,0,0
Wyoming,1288529.0,990.998367,-2464.524571,82,0,0,0

In [11]:
df[df.Province_State=='New Jersey'].sort_values(by='Confirmed')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,34033.0,Salem,New Jersey,US,2020-03-28 23:05:37,39.587197,-75.346966,3,0,0,0,"Salem, New Jersey, US"
NaN,34009.0,Cape May,New Jersey,US,2020-03-28 23:05:37,39.150088,-74.801702,7,0,0,0,"Cape May, New Jersey, US"
NaN,34011.0,Cumberland,New Jersey,US,2020-03-28 23:05:37,39.371994,-75.107126,11,0,0,0,"Cumberland, New Jersey, US"
NaN,34001.0,Atlantic,New Jersey,US,2020-03-28 23:05:37,39.475387,-74.658485,17,0,0,0,"Atlantic, New Jersey, US"
NaN,34015.0,Gloucester,New Jersey,US,2020-03-28 23:05:37,39.715811,-75.139955,51,1,0,0,"Gloucester, New Jersey, US"
NaN,34041.0,Warren,New Jersey,US,2020-03-28 23:05:37,40.859518,-74.995565,51,0,0,0,"Warren, New Jersey, US"
NaN,34019.0,Hunterdon,New Jersey,US,2020-03-28 23:05:37,40.563352,-74.912842,61,0,0,0,"Hunterdon, New Jersey, US"
NaN,34037.0,Sussex,New Jersey,US,2020-03-28 23:05:37,41.138916,-74.691182,81,0,0,0,"Sussex, New Jersey, US"
NaN,34005.0,Burlington,New Jersey,US,2020-03-28 23:05:37,39.876811,-74.669278,115,0,0,0,"Burlington, New Jersey, US"
NaN,34007.0,Camden,New Jersey,US,2020-03-28 23:05:37,39.803438,-74.963888,123,1,0,0,"Camden, New Jersey, US"
NaN,34021.0,Mercer,New Jersey,US,2020-03-28 23:05:37,40.280470,-74.704796,168,0,0,0,"Mercer, New Jersey, US"
NaN,34035.0,Somerset,New Jersey,US,2020-03-28 23:05:37,40.564657,-74.616830,258,4,0,0,"Somerset, New Jersey, US"
NaN,34027.0,Morris,New Jersey,US,2020-03-28 23:05:37,40.860953,-74.545537,442,3,0,0,"Morris, New Jersey, US"
NaN,34031.0,Passaic,New Jersey,US,2020-03-28 23:05:37,41.032386,-74.299541,608,7,0,0,"Passaic, New Jersey, US"
NaN,34029.0,Ocean,New Jersey,US,2020-03-28 23:05:37,39.889545,-74.280893,624,4,0,0,"Ocean, New Jersey, US"
NaN,34039.0,Union,New Jersey,US,2020-03-28 23:05:37,40.658354,-74.306801,742,0,0,0,"Union, New Jersey, US"
NaN,34017.0,Hudson,New Jersey,US,2020-03-28 23:05:37,40.737662,-74.075157,771,4,0,0,"Hudson, New Jersey, US"
NaN,34025.0,Monmouth,New Jersey,US,2020-03-28 23:05:37,40.265497,-74.222407,781,6,0,0,"Monmouth, New Jersey, US"
NaN,34023.0,Middlesex,New Jersey,US,2020-03-28 23:05:37,40.436299,-74.414270,808,4,0,0,"Middlesex, New Jersey, US"
NaN,34013.0,Essex,New Jersey,US,2020-03-28 23:05:37,40.786813,-74.246580,1086,7,0,0,"Essex, New Jersey, US"
NaN,34003.0,Bergen,New Jersey,US,2020-03-28 23:05:37,40.960109,-74.071643,1838,13,0,0,"Bergen, New Jersey, US"
NaN,NaN,Unassigned,New Jersey,US,2020-03-28 23:05:37,0.000000,0.000000,2478,86,0,0,"Unassigned, New Jersey, US"

In [12]:
df[df.Province_State=='New York'].sort_values(by='Confirmed')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,36123.0,Yates,New York,US,2020-03-28 23:05:37,42.635055,-77.103699,0,0,0,0,"Yates, New York, US"
NaN,36005.0,Bronx,New York,US,2020-03-28 23:05:37,40.852093,-73.862828,0,0,0,0,"Bronx, New York, US"
NaN,36081.0,Queens,New York,US,2020-03-28 23:05:37,40.710881,-73.816847,0,0,0,0,"Queens, New York, US"
NaN,36099.0,Seneca,New York,US,2020-03-28 23:05:37,42.780810,-76.824971,0,0,0,0,"Seneca, New York, US"
NaN,NaN,Unassigned,New York,US,2020-03-28 23:05:37,0.000000,0.000000,0,109,0,0,"Unassigned, New York, US"
NaN,36049.0,Lewis,New York,US,2020-03-28 23:05:37,43.784416,-75.449040,0,0,0,0,"Lewis, New York, US"
NaN,36047.0,Kings,New York,US,2020-03-28 23:05:37,40.636182,-73.949356,0,0,0,0,"Kings, New York, US"
NaN,36085.0,Richmond,New York,US,2020-03-28 23:05:37,40.585822,-74.148086,0,0,0,0,"Richmond, New York, US"
NaN,36097.0,Schuyler,New York,US,2020-03-28 23:05:37,42.391840,-76.877330,1,0,0,0,"Schuyler, New York, US"
NaN,36009.0,Cattaraugus,New York,US,2020-03-28 23:05:37,42.247782,-78.679231,1,0,0,0,"Cattaraugus, New York, US"
NaN,36035.0,Fulton,New York,US,2020-03-28 23:05:37,43.113639,-74.417988,1,0,0,0,"Fulton, New York, US"
NaN,36003.0,Allegany,New York,US,2020-03-28 23:05:37,42.257484,-78.027505,2,0,0,0,"Allegany, New York, US"
NaN,36011.0,Cayuga,New York,US,2020-03-28 23:05:37,42.912617,-76.557316,2,0,0,0,"Cayuga, New York, US"
NaN,36041.0,Hamilton,New York,US,2020-03-28 23:05:37,43.661466,-74.497220,2,0,0,0,"Hamilton, New York, US"
NaN,36073.0,Orleans,New York,US,2020-03-28 23:05:37,43.251698,-78.232007,3,0,0,0,"Orleans, New York, US"
NaN,36033.0,Franklin,New York,US,2020-03-28 23:05:37,44.590409,-74.299260,5,0,0,0,"Franklin, New York, US"
NaN,36095.0,Schoharie,New York,US,2020-03-28 23:05:37,42.588317,-74.443390,5,0,0,0,"Schoharie, New York, US"
NaN,36013.0,Chautauqua,New York,US,2020-03-28 23:05:37,42.227692,-79.366918,5,0,0,0,"Chautauqua, New York, US"
NaN,36031.0,Essex,New York,US,2020-03-28 23:05:37,44.116308,-73.772978,5,0,0,0,"Essex, New York, US"
NaN,36107.0,Tioga,New York,US,2020-03-28 23:05:37,42.168528,-76.308358,6,0,0,0,"Tioga, New York, US"
NaN,36045.0,Jefferson,New York,US,2020-03-28 23:05:37,44.042010,-75.946535,6,0,0,0,"Jefferson, New York, US"
NaN,36057.0,Montgomery,New York,US,2020-03-28 23:05:37,42.901235,-74.440116,6,0,0,0,"Montgomery, New York, US"
NaN,36037.0,Genesee,New York,US,2020-03-28 23:05:37,43.002260,-78.191352,7,0,0,0,"Genesee, New York, US"
NaN,36039.0,Greene,New York,US,2020-03-28 23:05:37,42.275797,-74.123849,7,0,0,0,"Greene, New York, US"
NaN,36023.0,Cortland,New York,US,2020-03-28 23:05:37,42.595092,-76.070489,7,0,0,0,"Cortland, New York, US"
NaN,36077.0,Otsego,New York,US,2020-03-28 23:05:37,42.634926,-75.031514,7,1,0,0,"Otsego, New York, US"
NaN,36121.0,Wyoming,New York,US,2020-03-28 23:05:37,42.701451,-78.221996,7,1,0,0,"Wyoming, New York, US"
NaN,36025.0,Delaware,New York,US,2020-03-28 23:05:37,42.198376,-74.967093,8,0,0,0,"Delaware, New York, US"
NaN,36017.0,Chenango,New York,US,2020-03-28 23:05:37,42.494300,-75.608876,8,0,0,0,"Chenango, New York, US"
NaN,36089.0,St. Lawrence,New York,US,2020-03-28 23:05:37,44.497618,-75.065500,8,0,0,0,"St. Lawrence, New York, US"
NaN,36075.0,Oswego,New York,US,2020-03-28 23:05:37,43.427789,-76.146352,9,0,0,0,"Oswego, New York, US"
NaN,36115.0,Washington,New York,US,2020-03-28 23:05:37,43.311538,-73.430434,9,0,0,0,"Washington, New York, US"
NaN,36043.0,Herkimer,New York,US,2020-03-28 23:05:37,43.420342,-74.961453,9,1,0,0,"Herkimer, New York, US"
NaN,36051.0,Livingston,New York,US,2020-03-28 23:05:37,42.725963,-77.779662,10,0,0,0,"Livingston, New York, US"
NaN,36015.0,Chemung,New York,US,2020-03-28 23:05:37,42.138911,-76.763880,12,0,0,0,"Chemung, New York, US"
NaN,36117.0,Wayne,New York,US,2020-03-28 23:05:37,43.154944,-77.029765,12,0,0,0,"Wayne, New York, US"
NaN,36019.0,Clinton,New York,US,2020-03-28 23:05:37,44.745309,-73.678754,12,0,0,0,"Clinton, New York, US"
NaN,36101.0,Steuben,New York,US,2020-03-28 23:05:37,42.268914,-77.382992,13,0,0,0,"Steuben, New York, US"
NaN,36113.0,Warren,New York,US,2020-03-28 23:05:37,43.561730,-73.843370,13,0,0,0,"Warren, New York, US"
NaN,36069.0,Ontario,New York,US,2020-03-28 23:05:37,42.851457,-77.308744,16,0,0,0,"Ontario, New York, US"
NaN,36065.0,Oneida,New York,US,2020-03-28 23:05:37,43.243754,-75.437104,23,0,0,0,"Oneida, New York, US"
NaN,36007.0,Broome,New York,US,2020-03-28 23:05:37,42.159032,-75.813261,23,3,0,0,"Broome, New York, US"
NaN,36053.0,Madison,New York,US,2020-03-28 23:05:37,42.916539,-75.672666,28,1,0,0,"Madison, New York, US"
NaN,36021.0,Columbia,New York,US,2020-03-28 23:05:37,42.248193,-73.630891,30,1,0,0,"Columbia, New York, US"
NaN,36063.0,Niagara,New York,US,2020-03-28 23:05:37,43.198980,-78.747774,33,0,0,0,"Niagara, New York, US"
NaN,36109.0,Tompkins,New York,US,2020-03-28 23:05:37,42.449458,-76.472298,48,0,0,0,"Tompkins, New York, US"
NaN,36083.0,Rensselaer,New York,US,2020-03-28 23:05:37,42.713481,-73.510899,51,0,0,0,"Rensselaer, New York, US"
NaN,36093.0,Schenectady,New York,US,2020-03-28 23:05:37,42.816688,-74.052783,72,1,0,0,"Schenectady, New York, US"
NaN,36105.0,Sullivan,New York,US,2020-03-28 23:05:37,41.715795,-74.763946,72,0,0,0,"Sullivan, New York, US"
NaN,36091.0,Saratoga,New York,US,2020-03-28 23:05:37,43.109042,-73.866539,96,0,0,0,"Saratoga, New York, US"
NaN,36079.0,Putnam,New York,US,2020-03-28 23:05:37,41.426301,-73.749655,131,0,0,0,"Putnam, New York, US"
NaN,36111.0,Ulster,New York,US,2020-03-28 23:05:37,41.890279,-74.262521,133,0,0,0,"Ulster, New York, US"
NaN,36067.0,Onondaga,New York,US,2020-03-28 23:05:37,43.004919,-76.199712,146,1,0,0,"Onondaga, New York, US"
NaN,36001.0,Albany,New York,US,2020-03-28 23:05:37,42.600603,-73.977239,195,0,0,0,"Albany, New York, US"
NaN,36055.0,Monroe,New York,US,2020-03-28 23:05:37,43.146389,-77.693229,202,5,0,0,"Monroe, New York, US"
NaN,36027.0,Dutchess,New York,US,2020-03-28 23:05:37,41.764861,-73.743567,262,2,0,0,"Dutchess, New York, US"
NaN,36029.0,Erie,New York,US,2020-03-28 23:05:37,42.762490,-78.730637,318,6,0,0,"Erie, New York, US"
NaN,36071.0,Orange,New York,US,2020-03-28 23:05:37,41.403375,-74.302408,1101,4,0,0,"Orange, New York, US"
NaN,36087.0,Rockland,New York,US,2020-03-28 23:05:37,41.150279,-74.025605,1896,8,0,0,"Rockland, New York, US"
NaN,36103.0,Suffolk,New York,US,2020-03-28 23:05:37,40.883201,-72.801217,4138,30,0,0,"Suffolk, New York, US"
NaN,36059.0,Nassau,New York,US,2020-03-28 23:05:37,40.740665,-73.589419,5537,27,0,0,"Nassau, New York, US"
NaN,36119.0,Westchester,New York,US,2020-03-28 23:05:37,41.162784,-73.757417,7875,10,0,0,"Westchester, New York, US"
NaN,36061.0,New York City,New York,US,2020-03-28 23:05:37,40.767273,-73.971526,29776,517,0,0,"New York City, New York, US"

In [13]:
df[df.Province_State=='New York'].sort_values(by='Confirmed')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,36123.0,Yates,New York,US,2020-03-28 23:05:37,42.635055,-77.103699,0,0,0,0,"Yates, New York, US"
NaN,36005.0,Bronx,New York,US,2020-03-28 23:05:37,40.852093,-73.862828,0,0,0,0,"Bronx, New York, US"
NaN,36081.0,Queens,New York,US,2020-03-28 23:05:37,40.710881,-73.816847,0,0,0,0,"Queens, New York, US"
NaN,36099.0,Seneca,New York,US,2020-03-28 23:05:37,42.780810,-76.824971,0,0,0,0,"Seneca, New York, US"
NaN,NaN,Unassigned,New York,US,2020-03-28 23:05:37,0.000000,0.000000,0,109,0,0,"Unassigned, New York, US"
NaN,36049.0,Lewis,New York,US,2020-03-28 23:05:37,43.784416,-75.449040,0,0,0,0,"Lewis, New York, US"
NaN,36047.0,Kings,New York,US,2020-03-28 23:05:37,40.636182,-73.949356,0,0,0,0,"Kings, New York, US"
NaN,36085.0,Richmond,New York,US,2020-03-28 23:05:37,40.585822,-74.148086,0,0,0,0,"Richmond, New York, US"
NaN,36097.0,Schuyler,New York,US,2020-03-28 23:05:37,42.391840,-76.877330,1,0,0,0,"Schuyler, New York, US"
NaN,36009.0,Cattaraugus,New York,US,2020-03-28 23:05:37,42.247782,-78.679231,1,0,0,0,"Cattaraugus, New York, US"
NaN,36035.0,Fulton,New York,US,2020-03-28 23:05:37,43.113639,-74.417988,1,0,0,0,"Fulton, New York, US"
NaN,36003.0,Allegany,New York,US,2020-03-28 23:05:37,42.257484,-78.027505,2,0,0,0,"Allegany, New York, US"
NaN,36011.0,Cayuga,New York,US,2020-03-28 23:05:37,42.912617,-76.557316,2,0,0,0,"Cayuga, New York, US"
NaN,36041.0,Hamilton,New York,US,2020-03-28 23:05:37,43.661466,-74.497220,2,0,0,0,"Hamilton, New York, US"
NaN,36073.0,Orleans,New York,US,2020-03-28 23:05:37,43.251698,-78.232007,3,0,0,0,"Orleans, New York, US"
NaN,36033.0,Franklin,New York,US,2020-03-28 23:05:37,44.590409,-74.299260,5,0,0,0,"Franklin, New York, US"
NaN,36095.0,Schoharie,New York,US,2020-03-28 23:05:37,42.588317,-74.443390,5,0,0,0,"Schoharie, New York, US"
NaN,36013.0,Chautauqua,New York,US,2020-03-28 23:05:37,42.227692,-79.366918,5,0,0,0,"Chautauqua, New York, US"
NaN,36031.0,Essex,New York,US,2020-03-28 23:05:37,44.116308,-73.772978,5,0,0,0,"Essex, New York, US"
NaN,36107.0,Tioga,New York,US,2020-03-28 23:05:37,42.168528,-76.308358,6,0,0,0,"Tioga, New York, US"
NaN,36045.0,Jefferson,New York,US,2020-03-28 23:05:37,44.042010,-75.946535,6,0,0,0,"Jefferson, New York, US"
NaN,36057.0,Montgomery,New York,US,2020-03-28 23:05:37,42.901235,-74.440116,6,0,0,0,"Montgomery, New York, US"
NaN,36037.0,Genesee,New York,US,2020-03-28 23:05:37,43.002260,-78.191352,7,0,0,0,"Genesee, New York, US"
NaN,36039.0,Greene,New York,US,2020-03-28 23:05:37,42.275797,-74.123849,7,0,0,0,"Greene, New York, US"
NaN,36023.0,Cortland,New York,US,2020-03-28 23:05:37,42.595092,-76.070489,7,0,0,0,"Cortland, New York, US"
NaN,36077.0,Otsego,New York,US,2020-03-28 23:05:37,42.634926,-75.031514,7,1,0,0,"Otsego, New York, US"
NaN,36121.0,Wyoming,New York,US,2020-03-28 23:05:37,42.701451,-78.221996,7,1,0,0,"Wyoming, New York, US"
NaN,36025.0,Delaware,New York,US,2020-03-28 23:05:37,42.198376,-74.967093,8,0,0,0,"Delaware, New York, US"
NaN,36017.0,Chenango,New York,US,2020-03-28 23:05:37,42.494300,-75.608876,8,0,0,0,"Chenango, New York, US"
NaN,36089.0,St. Lawrence,New York,US,2020-03-28 23:05:37,44.497618,-75.065500,8,0,0,0,"St. Lawrence, New York, US"
NaN,36075.0,Oswego,New York,US,2020-03-28 23:05:37,43.427789,-76.146352,9,0,0,0,"Oswego, New York, US"
NaN,36115.0,Washington,New York,US,2020-03-28 23:05:37,43.311538,-73.430434,9,0,0,0,"Washington, New York, US"
NaN,36043.0,Herkimer,New York,US,2020-03-28 23:05:37,43.420342,-74.961453,9,1,0,0,"Herkimer, New York, US"
NaN,36051.0,Livingston,New York,US,2020-03-28 23:05:37,42.725963,-77.779662,10,0,0,0,"Livingston, New York, US"
NaN,36015.0,Chemung,New York,US,2020-03-28 23:05:37,42.138911,-76.763880,12,0,0,0,"Chemung, New York, US"
NaN,36117.0,Wayne,New York,US,2020-03-28 23:05:37,43.154944,-77.029765,12,0,0,0,"Wayne, New York, US"
NaN,36019.0,Clinton,New York,US,2020-03-28 23:05:37,44.745309,-73.678754,12,0,0,0,"Clinton, New York, US"
NaN,36101.0,Steuben,New York,US,2020-03-28 23:05:37,42.268914,-77.382992,13,0,0,0,"Steuben, New York, US"
NaN,36113.0,Warren,New York,US,2020-03-28 23:05:37,43.561730,-73.843370,13,0,0,0,"Warren, New York, US"
NaN,36069.0,Ontario,New York,US,2020-03-28 23:05:37,42.851457,-77.308744,16,0,0,0,"Ontario, New York, US"
NaN,36065.0,Oneida,New York,US,2020-03-28 23:05:37,43.243754,-75.437104,23,0,0,0,"Oneida, New York, US"
NaN,36007.0,Broome,New York,US,2020-03-28 23:05:37,42.159032,-75.813261,23,3,0,0,"Broome, New York, US"
NaN,36053.0,Madison,New York,US,2020-03-28 23:05:37,42.916539,-75.672666,28,1,0,0,"Madison, New York, US"
NaN,36021.0,Columbia,New York,US,2020-03-28 23:05:37,42.248193,-73.630891,30,1,0,0,"Columbia, New York, US"
NaN,36063.0,Niagara,New York,US,2020-03-28 23:05:37,43.198980,-78.747774,33,0,0,0,"Niagara, New York, US"
NaN,36109.0,Tompkins,New York,US,2020-03-28 23:05:37,42.449458,-76.472298,48,0,0,0,"Tompkins, New York, US"
NaN,36083.0,Rensselaer,New York,US,2020-03-28 23:05:37,42.713481,-73.510899,51,0,0,0,"Rensselaer, New York, US"
NaN,36093.0,Schenectady,New York,US,2020-03-28 23:05:37,42.816688,-74.052783,72,1,0,0,"Schenectady, New York, US"
NaN,36105.0,Sullivan,New York,US,2020-03-28 23:05:37,41.715795,-74.763946,72,0,0,0,"Sullivan, New York, US"
NaN,36091.0,Saratoga,New York,US,2020-03-28 23:05:37,43.109042,-73.866539,96,0,0,0,"Saratoga, New York, US"
NaN,36079.0,Putnam,New York,US,2020-03-28 23:05:37,41.426301,-73.749655,131,0,0,0,"Putnam, New York, US"
NaN,36111.0,Ulster,New York,US,2020-03-28 23:05:37,41.890279,-74.262521,133,0,0,0,"Ulster, New York, US"
NaN,36067.0,Onondaga,New York,US,2020-03-28 23:05:37,43.004919,-76.199712,146,1,0,0,"Onondaga, New York, US"
NaN,36001.0,Albany,New York,US,2020-03-28 23:05:37,42.600603,-73.977239,195,0,0,0,"Albany, New York, US"
NaN,36055.0,Monroe,New York,US,2020-03-28 23:05:37,43.146389,-77.693229,202,5,0,0,"Monroe, New York, US"
NaN,36027.0,Dutchess,New York,US,2020-03-28 23:05:37,41.764861,-73.743567,262,2,0,0,"Dutchess, New York, US"
NaN,36029.0,Erie,New York,US,2020-03-28 23:05:37,42.762490,-78.730637,318,6,0,0,"Erie, New York, US"
NaN,36071.0,Orange,New York,US,2020-03-28 23:05:37,41.403375,-74.302408,1101,4,0,0,"Orange, New York, US"
NaN,36087.0,Rockland,New York,US,2020-03-28 23:05:37,41.150279,-74.025605,1896,8,0,0,"Rockland, New York, US"
NaN,36103.0,Suffolk,New York,US,2020-03-28 23:05:37,40.883201,-72.801217,4138,30,0,0,"Suffolk, New York, US"
NaN,36059.0,Nassau,New York,US,2020-03-28 23:05:37,40.740665,-73.589419,5537,27,0,0,"Nassau, New York, US"
NaN,36119.0,Westchester,New York,US,2020-03-28 23:05:37,41.162784,-73.757417,7875,10,0,0,"Westchester, New York, US"
NaN,36061.0,New York City,New York,US,2020-03-28 23:05:37,40.767273,-73.971526,29776,517,0,0,"New York City, New York, US"

In [14]:
population = pd.read_csv('data/SCPRC-EST2019-18+POP-RES.csv')
population.sort_values(by='POPESTIMATE2019', ascending=False).head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2019,POPEST18PLUS2019,PCNT_POPEST18PLUS
0,10,0,0,0,United States,328239523,255200373,77.7
5,40,4,9,6,California,39512223,30617582,77.5
44,40,3,7,48,Texas,28995881,21596071,74.5
10,40,3,5,12,Florida,21477737,17247808,80.3
33,40,1,2,36,New York,19453561,15425262,79.3
39,40,1,2,42,Pennsylvania,12801989,10167376,79.4
14,40,2,3,17,Illinois,12671821,9853946,77.8
36,40,2,3,39,Ohio,11689100,9111081,77.9
11,40,3,5,13,Georgia,10617423,8113542,76.4
34,40,3,5,37,North Carolina,10488084,8187369,78.1

In [15]:
geog = pd.read_csv('data/us_geography.csv')
geog.head(10)

,State,tot_sq_mi,tot_sq_km,land_sq_mi,land_sq_km,water_sq_mi,water_sq_km,inland_sq_mi,inland_sq_km,coast_sq_mi,coast_sq_km,gl_sq_mi,gl_sq_km,terr_sq_mi,terr_sq_km,latitude,longitude
0,United States,"3,796,742","9,833,517","3,531,905","9,147,593","264,837","685,924","85,647","221,824","42,337","109,652","60,094","155,643","76,759","198,806",NaN,NaN
1,Alabama,"52,420","135,767","50,645","131,171","1,775","4,597","1,058","2,740",517,"1,340",â€”,â€”,199,516,32.739632,-86.843459
2,Alaska,"665,384","1,723,337","570,641","1,477,953","94,743","245,383","19,304","49,997","26,119","67,647",â€”,â€”,"49,320","127,739",63.346191,-152.837068
3,Arizona,"113,990","295,234","113,594","294,207",396,"1,026",396,"1,026",â€”,â€”,â€”,â€”,â€”,â€”,34.209964,-111.602401
4,Arkansas,"53,179","137,732","52,035","134,771","1,143","2,961","1,143","2,961",â€”,â€”,â€”,â€”,â€”,â€”,34.895526,-92.444626
5,California,"163,695","423,967","155,779","403,466","7,916","20,501","2,833","7,339",245,634,â€”,â€”,"4,837","12,528",37.148573,-119.540651
6,Colorado,"104,094","269,601","103,642","268,431",452,"1,170",452,"1,170",â€”,â€”,â€”,â€”,â€”,â€”,38.993575,-105.507774
7,Connecticut,"5,543","14,357","4,842","12,542",701,"1,816",171,443,530,"1,372",â€”,â€”,â€”,â€”,41.579784,-72.746667
8,Delaware,"2,489","6,446","1,949","5,047",540,"1,399",91,237,355,920,â€”,â€”,94,242,38.993550,-75.447374
9,District of Columbia,68,177,61,158,7,19,7,19,â€”,â€”,â€”,â€”,â€”,â€”,38.904148,-77.017094

In [17]:
population[['NAME', 'POPESTIMATE2019']]

                        NAME  POPESTIMATE2019
0              United States        328239523
1                    Alabama          4903185
2                     Alaska           731545
3                    Arizona          7278717
4                   Arkansas          3017804
5                 California         39512223
6                   Colorado          5758736
7                Connecticut          3565287
8                   Delaware           973764
9       District of Columbia           705749
10                   Florida         21477737
11                   Georgia         10617423
12                    Hawaii          1415872
13                     Idaho          1787065
14                  Illinois         12671821
15                   Indiana          6732219
16                      Iowa          3155070
17                    Kansas          2913314
18                  Kentucky          4467673
19                 Louisiana          4648794
20                     Maine          1344212
21                  Maryland          6045680
22             Massachusetts          6892503
23                  Michigan          9986857
24                 Minnesota          5639632
25               Mississippi          2976149
26                  Missouri          6137428
27                   Montana          1068778
28                  Nebraska          1934408
29                    Nevada          3080156
30             New Hampshire          1359711
31                New Jersey          8882190
32                New Mexico          2096829
33                  New York         19453561
34            North Carolina         10488084
35              North Dakota           762062
36                      Ohio         11689100
37                  Oklahoma          3956971
38                    Oregon          4217737
39              Pennsylvania         12801989
40              Rhode Island          1059361
41            South Carolina          5148714
42              South Dakota           884659
43                 Tennessee          6829174
44                     Texas         28995881
45                      Utah          3205958
46                   Vermont           623989
47                  Virginia          8535519
48                Washington          7614893
49             West Virginia          1792147
50                 Wisconsin          5822434
51                   Wyoming           578759
52  Puerto Rico Commonwealth          3193694

In [18]:
state_columns=['Confirmed', 'Deaths', 'Recovered', 'Active', ]

In [19]:
state_with_population = pd.merge(state_totals[state_columns], population[['NAME', 'POPESTIMATE2019']], left_on='Province_State', right_on='NAME')
state_with_population['fraction_confirmed'] = state_with_population['Confirmed'] / state_with_population['POPESTIMATE2019'] * 100.0

In [20]:
state_with_population.sort_values(by='fraction_confirmed', ascending=False)

,Confirmed,Deaths,Recovered,Active,NAME,POPESTIMATE2019,fraction_confirmed
32,52410,728,0,0,New York,19453561,0.269411
30,11124,140,0,0,New Jersey,8882190,0.125239
18,3315,137,0,0,Louisiana,4648794,0.071309
21,4257,44,0,0,Massachusetts,6892503,0.061763
47,4030,188,0,0,Washington,7614893,0.052923
22,4650,111,0,0,Michigan,9986857,0.046561
8,304,4,0,0,District of Columbia,705749,0.043075
6,1524,33,0,0,Connecticut,3565287,0.042746
45,211,12,0,0,Vermont,623989,0.033815
5,1740,31,0,0,Colorado,5758736,0.030215
13,3491,47,0,0,Illinois,12671821,0.027549
39,239,2,0,0,Rhode Island,1059361,0.022561
10,2366,69,0,0,Georgia,10617423,0.022284
24,663,13,0,0,Mississippi,2976149,0.022277
38,2845,34,0,0,Pennsylvania,12801989,0.022223
42,1511,7,0,0,Tennessee,6829174,0.022126
7,214,5,0,0,Delaware,973764,0.021977
28,626,10,0,0,Nevada,3080156,0.020324
44,602,1,0,0,Utah,3205958,0.018778
14,1233,31,0,0,Indiana,6732219,0.018315
49,1055,17,0,0,Wisconsin,5822434,0.018120
9,3763,54,0,0,Florida,21477737,0.017520
20,995,5,0,0,Maryland,6045680,0.016458
19,211,1,0,0,Maine,1344212,0.015697
50,82,0,0,0,Wyoming,578759,0.014168
0,694,4,0,0,Alabama,4903185,0.014154
29,187,2,0,0,New Hampshire,1359711,0.013753
25,836,10,0,0,Missouri,6137428,0.013621
3,409,5,0,0,Arkansas,3017804,0.013553
12,234,4,0,0,Idaho,1787065,0.013094
4,5095,110,0,0,California,39512223,0.012895
40,660,15,0,0,South Carolina,5148714,0.012819
34,94,1,0,0,North Dakota,762062,0.012335
26,129,1,0,0,Montana,1068778,0.012070
35,1406,25,0,0,Ohio,11689100,0.012028
1,85,2,0,0,Alaska,731545,0.011619
37,479,13,0,0,Oregon,4217737,0.011357
2,773,15,0,0,Arizona,7278717,0.010620
11,149,0,0,0,Hawaii,1415872,0.010524
31,208,1,0,0,New Mexico,2096829,0.009920
33,1020,5,0,0,North Carolina,10488084,0.009725
36,377,15,0,0,Oklahoma,3956971,0.009527
15,298,3,0,0,Iowa,3155070,0.009445
16,266,4,0,0,Kansas,2913314,0.009130
17,393,9,0,0,Kentucky,4467673,0.008797
46,740,13,0,0,Virginia,8535519,0.008670
43,2455,30,0,0,Texas,28995881,0.008467
23,441,5,0,0,Minnesota,5639632,0.007820
41,68,1,0,0,South Dakota,884659,0.007687
48,96,0,0,0,West Virginia,1792147,0.005357
27,96,2,0,0,Nebraska,1934408,0.004963

## Something strange about the data direct from github

In [16]:
dfx = pd.read_html(url)
dfx

[      Unnamed: 0     FIPS     Admin2  Province_State      Country_Region  \
 0            NaN  45001.0  Abbeville  South Carolina                  US
 1            NaN  22001.0     Acadia       Louisiana                  US
 2            NaN  51001.0   Accomack        Virginia                  US
 3            NaN  16001.0        Ada           Idaho                  US
 4            NaN  19001.0      Adair            Iowa                  US
 ...          ...      ...        ...             ...                 ...
 3425         NaN      NaN        NaN             NaN           Venezuela
 3426         NaN      NaN        NaN             NaN             Vietnam
 3427         NaN      NaN        NaN             NaN  West Bank and Gaza
 3428         NaN      NaN        NaN             NaN              Zambia
 3429         NaN      NaN        NaN             NaN            Zimbabwe

               Last_Update        Lat       Long_  Confirmed  Deaths  \
 0     2020-03-28 23:05:37  34.223334  -82.461707          3       0
 1     2020-03-28 23:05:37  30.295065  -92.414197          9       1
 2     2020-03-28 23:05:37  37.767072  -75.632346          2       0
 3     2020-03-28 23:05:37  43.452658 -116.241552         76       0
 4     2020-03-28 23:05:37  41.330756  -94.471059          1       0
 ...                   ...        ...         ...        ...     ...
 3425  2020-03-28 23:05:25   6.423800  -66.589700        119       2
 3426  2020-03-28 23:05:25  14.058324  108.277199        174       0
 3427  2020-03-28 23:05:25  31.952200   35.233200         98       1
 3428  2020-03-28 23:05:25 -13.133897   27.849332         28       0
 3429  2020-03-28 23:05:25 -19.015438   29.154857          7       1

       Recovered  Active                   Combined_Key
 0             0       0  Abbeville, South Carolina, US
 1             0       0          Acadia, Louisiana, US
 2             0       0         Accomack, Virginia, US
 3             0       0                 Ada, Idaho, US
 4             0       0                Adair, Iowa, US
 ...         ...     ...                            ...
 3425         39      78                      Venezuela
 3426         21     153                        Vietnam
 3427         18      79             West Bank and Gaza
 3428          0      28                         Zambia
 3429          0       6                       Zimbabwe

 [3430 rows x 13 columns]]

import datapackage
import pandas as pd

data_url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/03-27-2020.csv'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)