In [1]:
import pandas as pd

In [2]:
population = pd.read_csv('data/SCPRC-EST2019-18+POP-RES.csv')

In [3]:
population.sort_values(by='POPESTIMATE2019', ascending=False).head(10)

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2019,POPEST18PLUS2019,PCNT_POPEST18PLUS
0,10,0,0,0,United States,328239523,255200373,77.7
5,40,4,9,6,California,39512223,30617582,77.5
44,40,3,7,48,Texas,28995881,21596071,74.5
10,40,3,5,12,Florida,21477737,17247808,80.3
33,40,1,2,36,New York,19453561,15425262,79.3
39,40,1,2,42,Pennsylvania,12801989,10167376,79.4
14,40,2,3,17,Illinois,12671821,9853946,77.8
36,40,2,3,39,Ohio,11689100,9111081,77.9
11,40,3,5,13,Georgia,10617423,8113542,76.4
34,40,3,5,37,North Carolina,10488084,8187369,78.1

In [4]:
geog = pd.read_csv('data/us_geography.csv')

In [5]:
geog.head(10)

,State,tot_sq_mi,tot_sq_km,land_sq_mi,land_sq_km,water_sq_mi,water_sq_km,inland_sq_mi,inland_sq_km,coast_sq_mi,coast_sq_km,gl_sq_mi,gl_sq_km,terr_sq_mi,terr_sq_km,latitude,longitude
0,United States,"3,796,742","9,833,517","3,531,905","9,147,593","264,837","685,924","85,647","221,824","42,337","109,652","60,094","155,643","76,759","198,806",NaN,NaN
1,Alabama,"52,420","135,767","50,645","131,171","1,775","4,597","1,058","2,740",517,"1,340",—,—,199,516,32.739632,-86.843459
2,Alaska,"665,384","1,723,337","570,641","1,477,953","94,743","245,383","19,304","49,997","26,119","67,647",—,—,"49,320","127,739",63.346191,-152.837068
3,Arizona,"113,990","295,234","113,594","294,207",396,"1,026",396,"1,026",—,—,—,—,—,—,34.209964,-111.602401
4,Arkansas,"53,179","137,732","52,035","134,771","1,143","2,961","1,143","2,961",—,—,—,—,—,—,34.895526,-92.444626
5,California,"163,695","423,967","155,779","403,466","7,916","20,501","2,833","7,339",245,634,—,—,"4,837","12,528",37.148573,-119.540651
6,Colorado,"104,094","269,601","103,642","268,431",452,"1,170",452,"1,170",—,—,—,—,—,—,38.993575,-105.507774
7,Connecticut,"5,543","14,357","4,842","12,542",701,"1,816",171,443,530,"1,372",—,—,—,—,41.579784,-72.746667
8,Delaware,"2,489","6,446","1,949","5,047",540,"1,399",91,237,355,920,—,—,94,242,38.993550,-75.447374
9,District of Columbia,68,177,61,158,7,19,7,19,—,—,—,—,—,—,38.904148,-77.017094

In [6]:
import requests

In [14]:
url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/03-28-2020.csv'

In [15]:
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

r.text

In [16]:
df = pd.read_html(r.text, header=[0], index_col=0)[0].iloc[:-1]

In [17]:
df[df.Country_Region=='US'].sort_values(by='Province_State')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,1123.0,Tallapoosa,Alabama,US,2020-03-28 23:05:37,32.866983,-85.798331,5,0,0,0,"Tallapoosa, Alabama, US"
NaN,1013.0,Butler,Alabama,US,2020-03-28 23:05:37,31.753001,-86.680575,1,0,0,0,"Butler, Alabama, US"
NaN,1121.0,Talladega,Alabama,US,2020-03-28 23:05:37,33.378232,-86.168862,4,0,0,0,"Talladega, Alabama, US"
NaN,1065.0,Hale,Alabama,US,2020-03-28 23:05:37,32.760393,-87.632850,0,0,0,0,"Hale, Alabama, US"
NaN,1117.0,Shelby,Alabama,US,2020-03-28 23:05:37,33.268798,-86.662326,72,0,0,0,"Shelby, Alabama, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,56027.0,Niobrara,Wyoming,US,2020-03-28 23:05:37,43.056077,-104.475890,0,0,0,0,"Niobrara, Wyoming, US"
NaN,56021.0,Laramie,Wyoming,US,2020-03-28 23:05:37,41.307025,-104.688750,19,0,0,0,"Laramie, Wyoming, US"
NaN,56033.0,Sheridan,Wyoming,US,2020-03-28 23:05:37,44.790489,-106.886239,6,0,0,0,"Sheridan, Wyoming, US"
NaN,56003.0,Big Horn,Wyoming,US,2020-03-28 23:05:37,44.524051,-107.996037,0,0,0,0,"Big Horn, Wyoming, US"
NaN,56045.0,Weston,Wyoming,US,2020-03-28 23:05:37,43.839612,-104.567488,0,0,0,0,"Weston, Wyoming, US"

In [18]:
df[df.Province_State=='New Jersey'].sort_values(by='Confirmed')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,34033.0,Salem,New Jersey,US,2020-03-28 23:05:37,39.587197,-75.346966,3,0,0,0,"Salem, New Jersey, US"
NaN,34009.0,Cape May,New Jersey,US,2020-03-28 23:05:37,39.150088,-74.801702,7,0,0,0,"Cape May, New Jersey, US"
NaN,34011.0,Cumberland,New Jersey,US,2020-03-28 23:05:37,39.371994,-75.107126,11,0,0,0,"Cumberland, New Jersey, US"
NaN,34001.0,Atlantic,New Jersey,US,2020-03-28 23:05:37,39.475387,-74.658485,17,0,0,0,"Atlantic, New Jersey, US"
NaN,34015.0,Gloucester,New Jersey,US,2020-03-28 23:05:37,39.715811,-75.139955,51,1,0,0,"Gloucester, New Jersey, US"
NaN,34041.0,Warren,New Jersey,US,2020-03-28 23:05:37,40.859518,-74.995565,51,0,0,0,"Warren, New Jersey, US"
NaN,34019.0,Hunterdon,New Jersey,US,2020-03-28 23:05:37,40.563352,-74.912842,61,0,0,0,"Hunterdon, New Jersey, US"
NaN,34037.0,Sussex,New Jersey,US,2020-03-28 23:05:37,41.138916,-74.691182,81,0,0,0,"Sussex, New Jersey, US"
NaN,34005.0,Burlington,New Jersey,US,2020-03-28 23:05:37,39.876811,-74.669278,115,0,0,0,"Burlington, New Jersey, US"
NaN,34007.0,Camden,New Jersey,US,2020-03-28 23:05:37,39.803438,-74.963888,123,1,0,0,"Camden, New Jersey, US"
NaN,34021.0,Mercer,New Jersey,US,2020-03-28 23:05:37,40.280470,-74.704796,168,0,0,0,"Mercer, New Jersey, US"
NaN,34035.0,Somerset,New Jersey,US,2020-03-28 23:05:37,40.564657,-74.616830,258,4,0,0,"Somerset, New Jersey, US"
NaN,34027.0,Morris,New Jersey,US,2020-03-28 23:05:37,40.860953,-74.545537,442,3,0,0,"Morris, New Jersey, US"
NaN,34031.0,Passaic,New Jersey,US,2020-03-28 23:05:37,41.032386,-74.299541,608,7,0,0,"Passaic, New Jersey, US"
NaN,34029.0,Ocean,New Jersey,US,2020-03-28 23:05:37,39.889545,-74.280893,624,4,0,0,"Ocean, New Jersey, US"
NaN,34039.0,Union,New Jersey,US,2020-03-28 23:05:37,40.658354,-74.306801,742,0,0,0,"Union, New Jersey, US"
NaN,34017.0,Hudson,New Jersey,US,2020-03-28 23:05:37,40.737662,-74.075157,771,4,0,0,"Hudson, New Jersey, US"
NaN,34025.0,Monmouth,New Jersey,US,2020-03-28 23:05:37,40.265497,-74.222407,781,6,0,0,"Monmouth, New Jersey, US"
NaN,34023.0,Middlesex,New Jersey,US,2020-03-28 23:05:37,40.436299,-74.414270,808,4,0,0,"Middlesex, New Jersey, US"
NaN,34013.0,Essex,New Jersey,US,2020-03-28 23:05:37,40.786813,-74.246580,1086,7,0,0,"Essex, New Jersey, US"
NaN,34003.0,Bergen,New Jersey,US,2020-03-28 23:05:37,40.960109,-74.071643,1838,13,0,0,"Bergen, New Jersey, US"
NaN,NaN,Unassigned,New Jersey,US,2020-03-28 23:05:37,0.000000,0.000000,2478,86,0,0,"Unassigned, New Jersey, US"

In [19]:
df[df.Province_State=='New Hampshire'].sort_values(by='Confirmed')

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
NaN,33007.0,Coos,New Hampshire,US,2020-03-28 23:05:37,44.690633,-71.306332,0,0,0,0,"Coos, New Hampshire, US"
NaN,33005.0,Cheshire,New Hampshire,US,2020-03-28 23:05:37,42.920160,-72.253110,2,0,0,0,"Cheshire, New Hampshire, US"
NaN,33019.0,Sullivan,New Hampshire,US,2020-03-28 23:05:37,43.360941,-72.222031,2,0,0,0,"Sullivan, New Hampshire, US"
NaN,33003.0,Carroll,New Hampshire,US,2020-03-28 23:05:37,43.874986,-71.204302,8,0,0,0,"Carroll, New Hampshire, US"
NaN,33001.0,Belknap,New Hampshire,US,2020-03-28 23:05:37,43.516373,-71.416842,9,0,0,0,"Belknap, New Hampshire, US"
NaN,33013.0,Merrimack,New Hampshire,US,2020-03-28 23:05:37,43.296630,-71.681157,11,0,0,0,"Merrimack, New Hampshire, US"
NaN,33017.0,Strafford,New Hampshire,US,2020-03-28 23:05:37,43.291833,-71.023360,11,0,0,0,"Strafford, New Hampshire, US"
NaN,33009.0,Grafton,New Hampshire,US,2020-03-28 23:05:37,43.937798,-71.820572,26,0,0,0,"Grafton, New Hampshire, US"
NaN,33011.0,Hillsborough,New Hampshire,US,2020-03-28 23:05:37,42.915378,-71.720025,43,2,0,0,"Hillsborough, New Hampshire, US"
NaN,33015.0,Rockingham,New Hampshire,US,2020-03-28 23:05:37,42.984997,-71.128834,75,0,0,0,"Rockingham, New Hampshire, US"

## Something strange about the data direct from github

In [20]:
dfx = pd.read_html(url)
dfx

[      Unnamed: 0     FIPS     Admin2  Province_State      Country_Region  \
 0            NaN  45001.0  Abbeville  South Carolina                  US
 1            NaN  22001.0     Acadia       Louisiana                  US
 2            NaN  51001.0   Accomack        Virginia                  US
 3            NaN  16001.0        Ada           Idaho                  US
 4            NaN  19001.0      Adair            Iowa                  US
 ...          ...      ...        ...             ...                 ...
 3425         NaN      NaN        NaN             NaN           Venezuela
 3426         NaN      NaN        NaN             NaN             Vietnam
 3427         NaN      NaN        NaN             NaN  West Bank and Gaza
 3428         NaN      NaN        NaN             NaN              Zambia
 3429         NaN      NaN        NaN             NaN            Zimbabwe

               Last_Update        Lat       Long_  Confirmed  Deaths  \
 0     2020-03-28 23:05:37  34.223334  -82.461707          3       0
 1     2020-03-28 23:05:37  30.295065  -92.414197          9       1
 2     2020-03-28 23:05:37  37.767072  -75.632346          2       0
 3     2020-03-28 23:05:37  43.452658 -116.241552         76       0
 4     2020-03-28 23:05:37  41.330756  -94.471059          1       0
 ...                   ...        ...         ...        ...     ...
 3425  2020-03-28 23:05:25   6.423800  -66.589700        119       2
 3426  2020-03-28 23:05:25  14.058324  108.277199        174       0
 3427  2020-03-28 23:05:25  31.952200   35.233200         98       1
 3428  2020-03-28 23:05:25 -13.133897   27.849332         28       0
 3429  2020-03-28 23:05:25 -19.015438   29.154857          7       1

       Recovered  Active                   Combined_Key
 0             0       0  Abbeville, South Carolina, US
 1             0       0          Acadia, Louisiana, US
 2             0       0         Accomack, Virginia, US
 3             0       0                 Ada, Idaho, US
 4             0       0                Adair, Iowa, US
 ...         ...     ...                            ...
 3425         39      78                      Venezuela
 3426         21     153                        Vietnam
 3427         18      79             West Bank and Gaza
 3428          0      28                         Zambia
 3429          0       6                       Zimbabwe

 [3430 rows x 13 columns]]

import datapackage
import pandas as pd

data_url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/03-27-2020.csv'

# to load Data Package into storage
package = datapackage.Package(data_url)

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        print (data)