In [1]:
import sys
sys.path.append('../src')

In [2]:
from covid import daily_snapshot
from pathlib import Path

import population as pop
import pandas as pd
import requests

In [3]:
pd.set_option('max_rows', 100)

In [4]:
date = input('date in mm-dd-yyyy format')

date in mm-dd-yyyy format 04-02-2020

In [5]:
state = input('state, e.g. New Jersey')

state, e.g. New Jersey New York

### Quick glance at the data

In [6]:
df = daily_snapshot(date)
df.head()

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
45001.0,NaN,Abbeville,South Carolina,US,2020-04-02 23:25:27,34.223334,-82.461707,6,0,0,0,"Abbeville, South Carolina, US"
22001.0,NaN,Acadia,Louisiana,US,2020-04-02 23:25:27,30.295065,-92.414197,61,1,0,0,"Acadia, Louisiana, US"
51001.0,NaN,Accomack,Virginia,US,2020-04-02 23:25:27,37.767072,-75.632346,10,0,0,0,"Accomack, Virginia, US"
16001.0,NaN,Ada,Idaho,US,2020-04-02 23:25:27,43.452658,-116.241552,312,3,0,0,"Ada, Idaho, US"
19001.0,NaN,Adair,Iowa,US,2020-04-02 23:25:27,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [7]:
df[df.Country_Region=='US'].describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,0.0,2263.000000,2263.000000,2312.000000,2312.000000,2312.000000,2312.0
mean,NaN,37.901839,-90.296335,105.299740,2.563149,3.893166,0.0
std,NaN,5.056066,14.162025,1181.910573,33.492062,187.196122,0.0
min,NaN,13.444300,-159.596679,0.000000,0.000000,0.000000,0.0
25%,NaN,34.226043,-95.801391,2.000000,0.000000,0.000000,0.0
50%,NaN,38.006710,-88.110438,6.000000,0.000000,0.000000,0.0
75%,NaN,41.459743,-82.330657,24.250000,1.000000,0.000000,0.0
max,NaN,64.807262,145.673900,51809.000000,1397.000000,9001.000000,0.0

### Aggregate by state

In [8]:
state_totals = df[df.Country_Region=='US'].groupby(by='Province_State').sum()

In [9]:
state_totals.head()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
Province_State,,,,,,,
Alabama,0.0,2076.132667,-5465.814957,1233,32,0,0
Alaska,0.0,362.539360,-862.001024,143,3,0,0
Arizona,0.0,505.138555,-1671.948482,1715,32,0,0
Arkansas,0.0,1917.467085,-5085.094606,643,12,0,0
California,0.0,1873.911674,-6028.510306,10773,238,0,0

In [10]:
state_totals['death_rate?'] = state_totals['Deaths'] / state_totals['Confirmed'] * 100.0

In [11]:
state_totals.describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active,death_rate?
count,58.0,58.000000,58.000000,58.000000,58.000000,58.000000,58.0,57.000000
mean,0.0,1478.825184,-3523.113909,4197.465517,102.172414,155.189655,0.0,2.387042
std,0.0,1218.832299,3044.446499,12540.143413,321.174497,1181.889202,0.0,2.197478
min,0.0,0.000000,-14256.489929,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.0,398.189159,-5458.201885,316.000000,6.000000,0.000000,0.0,1.544402
50%,0.0,1233.777309,-3210.628444,853.500000,21.000000,0.000000,0.0,2.098476
75%,0.0,2469.858479,-881.128482,3003.750000,77.750000,0.000000,0.0,2.597403
max,0.0,4665.624024,145.673900,92506.000000,2373.000000,9001.000000,0.0,16.666667

In [12]:
state_covid = df[df.Province_State == state].copy()
state_covid['death_rate'] = 100 * state_covid['Deaths'] / state_covid['Confirmed']
state_columns=['Admin2', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'death_rate' ]

In [13]:
sort_by = input('sort by one of Admin2, Confirmed, Deaths, death_rate')

sort by one of Admin2, Confirmed, Deaths, death_rate Confirmed

In [14]:
state_covid[state_columns].sort_values(by=sort_by, ascending=False)

                Admin2  Confirmed  Deaths  Recovered  Active  death_rate
FIPS
36061.0  New York City      51809    1397          0       0    2.696443
36119.0    Westchester      11567      64          0       0    0.553298
36059.0         Nassau      10587      76          0       0    0.717862
36103.0        Suffolk       8746      69          0       0    0.788932
36087.0       Rockland       3751      18          0       0    0.479872
36071.0         Orange       1993      19          0       0    0.953337
36027.0       Dutchess        667       5          0       0    0.749625
36029.0           Erie        617      12          0       0    1.944895
36055.0         Monroe        420       9          0       0    2.142857
36067.0       Onondaga        301       2          0       0    0.664452
36001.0         Albany        253       2          0       0    0.790514
36111.0         Ulster        240       3          0       0    1.250000
36079.0         Putnam        216       0          0       0    0.000000
36105.0       Sullivan        143       4          0       0    2.797203
36091.0       Saratoga        132       1          0       0    0.757576
36093.0    Schenectady        101       1          0       0    0.990099
36063.0        Niagara         91       0          0       0    0.000000
36109.0       Tompkins         80       0          0       0    0.000000
36053.0        Madison         68       2          0       0    2.941176
36065.0         Oneida         61       1          0       0    1.639344
36083.0     Rensselaer         60       0          0       0    0.000000
36007.0         Broome         46       4          0       0    8.695652
36021.0       Columbia         45       1          0       0    2.222222
36101.0        Steuben         43       0          0       0    0.000000
36089.0   St. Lawrence         39       0          0       0    0.000000
36017.0       Chenango         28       0          0       0    0.000000
36117.0          Wayne         27       0          0       0    0.000000
36069.0        Ontario         26       0          0       0    0.000000
36019.0        Clinton         25       0          0       0    0.000000
36075.0         Oswego         23       0          0       0    0.000000
36015.0        Chemung         22       0          0       0    0.000000
36025.0       Delaware         22       0          0       0    0.000000
36077.0         Otsego         21       1          0       0    4.761905
36039.0         Greene         21       0          0       0    0.000000
36051.0     Livingston         18       1          0       0    5.555556
36113.0         Warren         18       0          0       0    0.000000
36037.0        Genesee         16       1          0       0    6.250000
36045.0      Jefferson         15       0          0       0    0.000000
36121.0        Wyoming         14       1          0       0    7.142857
36043.0       Herkimer         14       2          0       0   14.285714
36003.0       Allegany         12       1          0       0    8.333333
36115.0     Washington         12       0          0       0    0.000000
36023.0       Cortland         11       0          0       0    0.000000
36033.0       Franklin          9       0          0       0    0.000000
36095.0      Schoharie          9       0          0       0    0.000000
36057.0     Montgomery          8       0          0       0    0.000000
36013.0     Chautauqua          8       1          0       0   12.500000
36107.0          Tioga          8       0          0       0    0.000000
36009.0    Cattaraugus          8       0          0       0    0.000000
36031.0          Essex          7       0          0       0    0.000000
36073.0        Orleans          6       0          0       0    0.000000
36035.0         Fulton          6       0          0       0    0.000000
36011.0         Cayuga          4       0          0       0    0.000000
36099.0         Seneca          4       0          0       0    0.000000
36097.0       Schuyler          3       0          0       0    0.000000
36049.0          Lewis          2       0          0       0    0.000000
36041.0       Hamilton          2       0          0       0    0.000000
36123.0          Yates          1       0          0       0    0.000000
90036.0     Unassigned          0     675          0       0         inf

## We need to locate county data to add per capita rates.

nj_county_population_url = 'https://www.newjersey-demographics.com/counties_by_population'

nj_pop = pop.nj_county_population(nj_county_population_url)

nj_pop

state_with_population = pd.merge(state_covid[state_columns], nj_pop,left_on='Admin2', right_on='county')

state_with_population['fraction_confirmed'] = state_with_population['Confirmed'] / state_with_population['pop2019']   * 100.0
state_with_population['deaths']             = state_with_population['Deaths']    / state_with_population['pop2019']   * 100.0
state_with_population['death_rate?']        = state_with_population['Deaths']    / state_with_population['Confirmed'] * 100.0

sort_by = input("column to sort Confirmed, Deaths, county, pop2019, fraction_confirmed, deaths, death_rate?")

state_with_population.sort_values(by=sort_by, ascending=False)

state_with_population.sort_values(by='Deaths', ascending=False)

state_with_population.sort_values(by='death_rate?', ascending=False)