In [1]:
import sys
sys.path.append('../src')

In [2]:
from covid import daily_snapshot
from pathlib import Path

import population as pop
import pandas as pd
import requests

In [3]:
pd.set_option('max_rows', 100)

In [4]:
date = input('date in mm-dd-yyyy format')

date in mm-dd-yyyy format 04-01-2020

In [5]:
state = input('state, e.g. New Jersey')

state, e.g. New Jersey New Jersey

In [6]:
url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/03-31-2020.csv'

### Quick glance at the data

In [7]:
df = daily_snapshot(date)
df.head()

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
45001.0,NaN,Abbeville,South Carolina,US,2020-04-01 21:58:49,34.223334,-82.461707,4,0,0,0,"Abbeville, South Carolina, US"
22001.0,NaN,Acadia,Louisiana,US,2020-04-01 21:58:49,30.295065,-92.414197,47,1,0,0,"Acadia, Louisiana, US"
51001.0,NaN,Accomack,Virginia,US,2020-04-01 21:58:49,37.767072,-75.632346,7,0,0,0,"Accomack, Virginia, US"
16001.0,NaN,Ada,Idaho,US,2020-04-01 21:58:49,43.452658,-116.241552,195,3,0,0,"Ada, Idaho, US"
19001.0,NaN,Adair,Iowa,US,2020-04-01 21:58:49,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [8]:
df[df.Country_Region=='US'].describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,0.0,2229.000000,2229.000000,2230.000000,2230.000000,2230.000000,2230.0
mean,NaN,37.255595,-88.693085,95.682511,2.133184,3.800000,0.0
std,NaN,7.067256,18.464507,1096.510006,27.897826,179.446928,0.0
min,NaN,0.000000,-159.596679,0.000000,0.000000,0.000000,0.0
25%,NaN,33.964725,-95.563511,2.000000,0.000000,0.000000,0.0
50%,NaN,37.871198,-87.787962,5.000000,0.000000,0.000000,0.0
75%,NaN,41.435647,-81.962311,23.000000,1.000000,0.000000,0.0
max,NaN,64.807262,145.673900,47439.000000,1139.000000,8474.000000,0.0

### Aggregate by state

In [9]:
state_totals = df[df.Country_Region=='US'].groupby(by='Province_State').sum()

In [10]:
state_totals.describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,58.0,58.000000,58.000000,58.000000,58.000000,58.000000,58.0
mean,0.0,1431.771054,-3408.567003,3678.827586,82.017241,146.103448,0.0
std,0.0,1180.539394,2951.908853,11324.251290,261.141589,1112.690712,0.0
min,0.0,0.000000,-13764.875282,0.000000,0.000000,0.000000,0.0
25%,0.0,483.170922,-5253.566369,290.250000,5.000000,0.000000,0.0
50%,0.0,1189.846001,-3076.060812,728.500000,17.500000,0.000000,0.0
75%,0.0,2368.468833,-864.637952,2840.750000,65.000000,0.000000,0.0
max,0.0,4566.435219,145.673900,83948.000000,1941.000000,8474.000000,0.0

In [11]:
state = 'New Jersey'
state_covid = df[df.Province_State == state]
state_columns=['Admin2', 'Confirmed', 'Deaths', 'Recovered', 'Active', ]

In [12]:
state_covid[state_columns].sort_values(by='Confirmed', ascending=False)

             Admin2  Confirmed  Deaths  Recovered  Active
FIPS
NaN      Unassigned       4512       0          0       0
34003.0      Bergen       3494      75          0       0
34013.0       Essex       2262      69          0       0
34017.0      Hudson       1910      29          0       0
34039.0       Union       1661      29          0       0
34031.0     Passaic       1494      15          0       0
34023.0   Middlesex       1493      27          0       0
34025.0    Monmouth       1301      24          0       0
34029.0       Ocean       1209      23          0       0
34027.0      Morris        942      25          0       0
34035.0    Somerset        472      15          0       0
34021.0      Mercer        333       3          0       0
34007.0      Camden        289       3          0       0
34005.0  Burlington        255       5          0       0
34037.0      Sussex        158       6          0       0
34015.0  Gloucester        149       2          0       0
34019.0   Hunterdon        117       0          0       0
34041.0      Warren         96       3          0       0
34001.0    Atlantic         40       0          0       0
34011.0  Cumberland         27       1          0       0
34009.0    Cape May         22       0          0       0
34033.0       Salem         19       1          0       0

In [13]:
state_covid[state_columns].sort_values(by='Deaths', ascending=False)

             Admin2  Confirmed  Deaths  Recovered  Active
FIPS
34003.0      Bergen       3494      75          0       0
34013.0       Essex       2262      69          0       0
34039.0       Union       1661      29          0       0
34017.0      Hudson       1910      29          0       0
34023.0   Middlesex       1493      27          0       0
34027.0      Morris        942      25          0       0
34025.0    Monmouth       1301      24          0       0
34029.0       Ocean       1209      23          0       0
34035.0    Somerset        472      15          0       0
34031.0     Passaic       1494      15          0       0
34037.0      Sussex        158       6          0       0
34005.0  Burlington        255       5          0       0
34041.0      Warren         96       3          0       0
34021.0      Mercer        333       3          0       0
34007.0      Camden        289       3          0       0
34015.0  Gloucester        149       2          0       0
34033.0       Salem         19       1          0       0
34011.0  Cumberland         27       1          0       0
34019.0   Hunterdon        117       0          0       0
34009.0    Cape May         22       0          0       0
NaN      Unassigned       4512       0          0       0
34001.0    Atlantic         40       0          0       0

In [14]:
nj_county_population_url = 'https://www.newjersey-demographics.com/counties_by_population'

In [15]:
nj_pop = pop.nj_county_population(nj_county_population_url)

In [16]:
nj_pop

          county  pop2019
Rank
1         Bergen   929999
2      Middlesex   826698
3          Essex   793555
4         Hudson   668631
5       Monmouth   623387
6          Ocean   591939
7          Union   553066
8         Camden   507367
9        Passaic   504041
10        Morris   494383
11    Burlington   446367
12        Mercer   368762
13      Somerset   330176
14    Gloucester   290852
15      Atlantic   268539
16    Cumberland   153400
17        Sussex   142298
18     Hunterdon   125051
19        Warren   106293
20      Cape May    93705
21         Salem    63336

In [18]:
state_with_population = pd.merge(state_covid[state_columns], nj_pop,left_on='Admin2', right_on='county')

state_with_population['fraction_confirmed'] = state_with_population['Confirmed'] / state_with_population['pop2019']   * 100.0
state_with_population['deaths']             = state_with_population['Deaths']    / state_with_population['pop2019']   * 100.0
state_with_population['death_rate?']        = state_with_population['Deaths']    / state_with_population['Confirmed'] * 100.0

In [19]:
sort_by = input("column to sort Confirmed, Deaths, county, pop2019, fraction_confirmed, deaths, death_rate?")

column to sort Confirmed, Deaths, county, pop2019, fraction_confirmed, deaths, death_rate? fraction_confirmed

In [20]:
state_with_population.sort_values(by=sort_by, ascending=False)

,Admin2,Confirmed,Deaths,Recovered,Active,county,pop2019,fraction_confirmed,deaths,death_rate?
1,Bergen,3494,75,0,0,Bergen,929999,0.375699,0.008065,2.146537
19,Union,1661,29,0,0,Union,553066,0.300326,0.005243,1.745936
15,Passaic,1494,15,0,0,Passaic,504041,0.296404,0.002976,1.004016
8,Hudson,1910,29,0,0,Hudson,668631,0.285658,0.004337,1.518325
6,Essex,2262,69,0,0,Essex,793555,0.285046,0.008695,3.050398
12,Monmouth,1301,24,0,0,Monmouth,623387,0.208699,0.003850,1.844735
14,Ocean,1209,23,0,0,Ocean,591939,0.204244,0.003886,1.902399
13,Morris,942,25,0,0,Morris,494383,0.190541,0.005057,2.653928
11,Middlesex,1493,27,0,0,Middlesex,826698,0.180598,0.003266,1.808439
17,Somerset,472,15,0,0,Somerset,330176,0.142954,0.004543,3.177966
18,Sussex,158,6,0,0,Sussex,142298,0.111035,0.004217,3.797468
9,Hunterdon,117,0,0,0,Hunterdon,125051,0.093562,0.000000,0.000000
20,Warren,96,3,0,0,Warren,106293,0.090316,0.002822,3.125000
10,Mercer,333,3,0,0,Mercer,368762,0.090302,0.000814,0.900901
2,Burlington,255,5,0,0,Burlington,446367,0.057128,0.001120,1.960784
3,Camden,289,3,0,0,Camden,507367,0.056961,0.000591,1.038062
7,Gloucester,149,2,0,0,Gloucester,290852,0.051229,0.000688,1.342282
16,Salem,19,1,0,0,Salem,63336,0.029999,0.001579,5.263158
4,Cape May,22,0,0,0,Cape May,93705,0.023478,0.000000,0.000000
5,Cumberland,27,1,0,0,Cumberland,153400,0.017601,0.000652,3.703704
0,Atlantic,40,0,0,0,Atlantic,268539,0.014895,0.000000,0.000000

state_with_population.sort_values(by='Deaths', ascending=False)

state_with_population.sort_values(by='death_rate?', ascending=False)