In [1]:
import sys
sys.path.append('../src')

In [2]:
from covid import daily_snapshot
from pathlib import Path

import population as pop
import pandas as pd
import requests

In [3]:
pd.set_option('max_rows', 100)

In [4]:
date = input('date in mm-dd-yyyy format')

date in mm-dd-yyyy format 04-02-2020

In [5]:
state = input('state, e.g. New Jersey')

state, e.g. New Jersey New York

### Quick glance at the data

In [6]:
df = daily_snapshot(date)
df.head()

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
45001.0,NaN,Abbeville,South Carolina,US,2020-04-02 23:25:27,34.223334,-82.461707,6,0,0,0,"Abbeville, South Carolina, US"
22001.0,NaN,Acadia,Louisiana,US,2020-04-02 23:25:27,30.295065,-92.414197,61,1,0,0,"Acadia, Louisiana, US"
51001.0,NaN,Accomack,Virginia,US,2020-04-02 23:25:27,37.767072,-75.632346,10,0,0,0,"Accomack, Virginia, US"
16001.0,NaN,Ada,Idaho,US,2020-04-02 23:25:27,43.452658,-116.241552,312,3,0,0,"Ada, Idaho, US"
19001.0,NaN,Adair,Iowa,US,2020-04-02 23:25:27,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [7]:
df[df.Country_Region=='US'].describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,0.0,2263.000000,2263.000000,2312.000000,2312.000000,2312.000000,2312.0
mean,NaN,37.901839,-90.296335,105.299740,2.563149,3.893166,0.0
std,NaN,5.056066,14.162025,1181.910573,33.492062,187.196122,0.0
min,NaN,13.444300,-159.596679,0.000000,0.000000,0.000000,0.0
25%,NaN,34.226043,-95.801391,2.000000,0.000000,0.000000,0.0
50%,NaN,38.006710,-88.110438,6.000000,0.000000,0.000000,0.0
75%,NaN,41.459743,-82.330657,24.250000,1.000000,0.000000,0.0
max,NaN,64.807262,145.673900,51809.000000,1397.000000,9001.000000,0.0

### Aggregate by state

In [8]:
state_totals = df[df.Country_Region=='US'].groupby(by='Province_State').sum()

In [9]:
state_totals.head()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
Province_State,,,,,,,
Alabama,0.0,2076.132667,-5465.814957,1233,32,0,0
Alaska,0.0,362.539360,-862.001024,143,3,0,0
Arizona,0.0,505.138555,-1671.948482,1715,32,0,0
Arkansas,0.0,1917.467085,-5085.094606,643,12,0,0
California,0.0,1873.911674,-6028.510306,10773,238,0,0

In [10]:
state_totals['death_rate?'] = state_totals['Deaths'] / state_totals['Confirmed'] * 100.0

In [11]:
state_totals.describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active,death_rate?
count,58.0,58.000000,58.000000,58.000000,58.000000,58.000000,58.0,57.000000
mean,0.0,1478.825184,-3523.113909,4197.465517,102.172414,155.189655,0.0,2.387042
std,0.0,1218.832299,3044.446499,12540.143413,321.174497,1181.889202,0.0,2.197478
min,0.0,0.000000,-14256.489929,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.0,398.189159,-5458.201885,316.000000,6.000000,0.000000,0.0,1.544402
50%,0.0,1233.777309,-3210.628444,853.500000,21.000000,0.000000,0.0,2.098476
75%,0.0,2469.858479,-881.128482,3003.750000,77.750000,0.000000,0.0,2.597403
max,0.0,4665.624024,145.673900,92506.000000,2373.000000,9001.000000,0.0,16.666667

In [12]:
state_covid = df[df.Province_State == state].copy()
state_covid['death_rate'] = 100 * state_covid['Deaths'] / state_covid['Confirmed']
state_columns=['Admin2', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'death_rate' ]

In [13]:
# sort_by = input('sort by one of Admin2, Confirmed, Deaths, death_rate')
sort_by = "Confirmed"

In [14]:
state_covid[state_columns].sort_values(by=sort_by, ascending=False)

                Admin2  Confirmed  Deaths  Recovered  Active  death_rate
FIPS
36061.0  New York City      51809    1397          0       0    2.696443
36119.0    Westchester      11567      64          0       0    0.553298
36059.0         Nassau      10587      76          0       0    0.717862
36103.0        Suffolk       8746      69          0       0    0.788932
36087.0       Rockland       3751      18          0       0    0.479872
36071.0         Orange       1993      19          0       0    0.953337
36027.0       Dutchess        667       5          0       0    0.749625
36029.0           Erie        617      12          0       0    1.944895
36055.0         Monroe        420       9          0       0    2.142857
36067.0       Onondaga        301       2          0       0    0.664452
36001.0         Albany        253       2          0       0    0.790514
36111.0         Ulster        240       3          0       0    1.250000
36079.0         Putnam        216       0          0       0    0.000000
36105.0       Sullivan        143       4          0       0    2.797203
36091.0       Saratoga        132       1          0       0    0.757576
36093.0    Schenectady        101       1          0       0    0.990099
36063.0        Niagara         91       0          0       0    0.000000
36109.0       Tompkins         80       0          0       0    0.000000
36053.0        Madison         68       2          0       0    2.941176
36065.0         Oneida         61       1          0       0    1.639344
36083.0     Rensselaer         60       0          0       0    0.000000
36007.0         Broome         46       4          0       0    8.695652
36021.0       Columbia         45       1          0       0    2.222222
36101.0        Steuben         43       0          0       0    0.000000
36089.0   St. Lawrence         39       0          0       0    0.000000
36017.0       Chenango         28       0          0       0    0.000000
36117.0          Wayne         27       0          0       0    0.000000
36069.0        Ontario         26       0          0       0    0.000000
36019.0        Clinton         25       0          0       0    0.000000
36075.0         Oswego         23       0          0       0    0.000000
36015.0        Chemung         22       0          0       0    0.000000
36025.0       Delaware         22       0          0       0    0.000000
36077.0         Otsego         21       1          0       0    4.761905
36039.0         Greene         21       0          0       0    0.000000
36051.0     Livingston         18       1          0       0    5.555556
36113.0         Warren         18       0          0       0    0.000000
36037.0        Genesee         16       1          0       0    6.250000
36045.0      Jefferson         15       0          0       0    0.000000
36121.0        Wyoming         14       1          0       0    7.142857
36043.0       Herkimer         14       2          0       0   14.285714
36003.0       Allegany         12       1          0       0    8.333333
36115.0     Washington         12       0          0       0    0.000000
36023.0       Cortland         11       0          0       0    0.000000
36033.0       Franklin          9       0          0       0    0.000000
36095.0      Schoharie          9       0          0       0    0.000000
36057.0     Montgomery          8       0          0       0    0.000000
36013.0     Chautauqua          8       1          0       0   12.500000
36107.0          Tioga          8       0          0       0    0.000000
36009.0    Cattaraugus          8       0          0       0    0.000000
36031.0          Essex          7       0          0       0    0.000000
36073.0        Orleans          6       0          0       0    0.000000
36035.0         Fulton          6       0          0       0    0.000000
36011.0         Cayuga          4       0          0       0    0.000000
36099.0         Seneca          4       0          0       0    0.000000
36097.0       Schuyler          3       0          0       0    0.000000
36049.0          Lewis          2       0          0       0    0.000000
36041.0       Hamilton          2       0          0       0    0.000000
36123.0          Yates          1       0          0       0    0.000000
90036.0     Unassigned          0     675          0       0         inf

## We need to locate county data to add per 1000 capita rates.

In [15]:
data = Path('../data/counties')
state_pop_path = data / Path(state.replace(' ', '').lower() + '.csv')

In [16]:
state_pop_path

PosixPath('../data/counties/newyork.csv')

In [17]:
state_pop = pd.read_csv(state_pop_path)

In [18]:
state_with_population = pd.merge(state_covid[state_columns], state_pop,
                                 left_on='Admin2', right_on='county')

state_with_population['fraction_confirmed'] = state_with_population['Confirmed'] / state_with_population['pop2019']   * 1000.0
state_with_population['deaths']             = state_with_population['Deaths']    / state_with_population['pop2019']   * 1000.0
state_with_population['death_rate?']        = state_with_population['Deaths']    / state_with_population['Confirmed'] * 1000.0

# sort_by = input("column to sort Confirmed, Deaths, county, pop2019, fraction_confirmed, deaths, death_rate?")
sort_by = 'fraction_confirmed'
state_with_population.sort_values(by=sort_by, ascending=False)

,Admin2,Confirmed,Deaths,Recovered,Active,death_rate,Rank,county,pop2019,fraction_confirmed,deaths,death_rate?
55,Westchester,11567,64,0,0,0.553298,7,Westchester,968815,11.939328,0.066060,5.532982
39,Rockland,3751,18,0,0,0.479872,13,Rockland,323686,11.588391,0.055609,4.798720
27,Nassau,10587,76,0,0,0.717862,6,Nassau,1356564,7.804276,0.056024,7.178615
28,New York City,51809,1397,0,0,2.696443,63,New York City,8623000,6.008234,0.162009,26.964427
47,Suffolk,8746,69,0,0,0.788932,4,Suffolk,1487901,5.878079,0.046374,7.889321
33,Orange,1993,19,0,0,0.953337,12,Orange,378227,5.269322,0.050234,9.533367
12,Dutchess,667,5,0,0,0.749625,15,Dutchess,293894,2.269526,0.017013,7.496252
37,Putnam,216,0,0,0,0.000000,29,Putnam,99070,2.180277,0.000000,0.000000
48,Sullivan,143,4,0,0,2.797203,36,Sullivan,75211,1.901318,0.053184,27.972028
51,Ulster,240,3,0,0,1.250000,20,Ulster,179303,1.338516,0.016731,12.500000
24,Madison,68,2,0,0,2.941176,37,Madison,71359,0.952928,0.028027,29.411765
0,Albany,253,2,0,0,0.790514,14,Albany,307426,0.822962,0.006506,7.905138
50,Tompkins,80,0,0,0,0.000000,28,Tompkins,102962,0.776986,0.000000,0.000000
9,Columbia,45,1,0,0,2.222222,42,Columbia,60919,0.738686,0.016415,22.222222
13,Erie,617,12,0,0,1.944895,8,Erie,919866,0.670750,0.013045,19.448947
41,Schenectady,101,1,0,0,0.990099,22,Schenectady,154883,0.652105,0.006456,9.900990
31,Onondaga,301,2,0,0,0.664452,11,Onondaga,464242,0.648369,0.004308,6.644518
40,Saratoga,132,1,0,0,0.757576,17,Saratoga,227377,0.580534,0.004398,7.575758
7,Chenango,28,0,0,0,0.000000,49,Chenango,48348,0.579135,0.000000,0.000000
25,Monroe,420,9,0,0,2.142857,9,Monroe,744248,0.564328,0.012093,21.428571
11,Delaware,22,0,0,0,0.000000,53,Delaware,45502,0.483495,0.000000,0.000000
46,Steuben,43,0,0,0,0.000000,30,Steuben,96927,0.443633,0.000000,0.000000
18,Greene,21,0,0,0,0.000000,51,Greene,47617,0.441019,0.000000,0.000000
19,Hamilton,2,0,0,0,0.000000,62,Hamilton,4575,0.437158,0.000000,0.000000
29,Niagara,91,0,0,0,0.000000,18,Niagara,211704,0.429845,0.000000,0.000000
38,Rensselaer,60,0,0,0,0.000000,21,Rensselaer,159431,0.376338,0.000000,0.000000
45,St. Lawrence,39,0,0,0,0.000000,26,St. Lawrence,109558,0.355976,0.000000,0.000000
36,Otsego,21,1,0,0,4.761905,43,Otsego,60244,0.348582,0.016599,47.619048
56,Wyoming,14,1,0,0,7.142857,55,Wyoming,40565,0.345125,0.024652,71.428571
8,Clinton,25,0,0,0,0.000000,33,Clinton,80794,0.309429,0.000000,0.000000
54,Wayne,27,0,0,0,0.000000,31,Wayne,90856,0.297174,0.000000,0.000000
42,Schoharie,9,0,0,0,0.000000,58,Schoharie,31364,0.286953,0.000000,0.000000
23,Livingston,18,1,0,0,5.555556,39,Livingston,63907,0.281659,0.015648,55.555556
52,Warren,18,0,0,0,0.000000,38,Warren,64480,0.279156,0.000000,0.000000
17,Genesee,16,1,0,0,6.250000,44,Genesee,58112,0.275330,0.017208,62.500000
30,Oneida,61,1,0,0,1.639344,16,Oneida,230782,0.264319,0.004333,16.393443
6,Chemung,22,0,0,0,0.000000,32,Chemung,85740,0.256590,0.000000,0.000000
1,Allegany,12,1,0,0,8.333333,52,Allegany,47025,0.255183,0.021265,83.333333
32,Ontario,26,0,0,0,0.000000,27,Ontario,109472,0.237504,0.000000,0.000000
2,Broome,46,4,0,0,8.695652,19,Broome,194402,0.236623,0.020576,86.956522
10,Cortland,11,0,0,0,0.000000,50,Cortland,48123,0.228581,0.000000,0.000000
20,Herkimer,14,2,0,0,14.285714,40,Herkimer,62505,0.223982,0.031997,142.857143
53,Washington,12,0,0,0,0.000000,41,Washington,61828,0.194087,0.000000,0.000000
35,Oswego,23,0,0,0,0.000000,24,Oswego,119104,0.193109,0.000000,0.000000
14,Essex,7,0,0,0,0.000000,56,Essex,37751,0.185426,0.000000,0.000000
15,Franklin,9,0,0,0,0.000000,46,Franklin,50692,0.177543,0.000000,0.000000
43,Schuyler,3,0,0,0,0.000000,61,Schuyler,17992,0.166741,0.000000,0.000000
49,Tioga,8,0,0,0,0.000000,48,Tioga,49045,0.163116,0.000000,0.000000
26,Montgomery,8,0,0,0,0.000000,47,Montgomery,49426,0.161858,0.000000,0.000000
34,Orleans,6,0,0,0,0.000000,54,Orleans,41175,0.145719,0.000000,0.000000
21,Jefferson,15,0,0,0,0.000000,25,Jefferson,114448,0.131064,0.000000,0.000000
44,Seneca,4,0,0,0,0.000000,57,Seneca,34612,0.115567,0.000000,0.000000
16,Fulton,6,0,0,0,0.000000,45,Fulton,53743,0.111642,0.000000,0.000000
3,Cattaraugus,8,0,0,0,0.000000,35,Cattaraugus,77686,0.102979,0.000000,0.000000
22,Lewis,2,0,0,0,0.000000,59,Lewis,26719,0.074853,0.000000,0.000000
5,Chautauqua,8,1,0,0,12.500000,23,Chautauqua,129656,0.061702,0.007713,125.000000
4,Cayuga,4,0,0,0,0.000000,34,Cayuga,77868,0.051369,0.000000,0.000000
57,Yates,1,0,0,0,0.000000,60,Yates,25009,0.039986,0.000000,0.000000

In [19]:
state_with_population.sort_values(by='Deaths', ascending=False)

,Admin2,Confirmed,Deaths,Recovered,Active,death_rate,Rank,county,pop2019,fraction_confirmed,deaths,death_rate?
28,New York City,51809,1397,0,0,2.696443,63,New York City,8623000,6.008234,0.162009,26.964427
27,Nassau,10587,76,0,0,0.717862,6,Nassau,1356564,7.804276,0.056024,7.178615
47,Suffolk,8746,69,0,0,0.788932,4,Suffolk,1487901,5.878079,0.046374,7.889321
55,Westchester,11567,64,0,0,0.553298,7,Westchester,968815,11.939328,0.066060,5.532982
33,Orange,1993,19,0,0,0.953337,12,Orange,378227,5.269322,0.050234,9.533367
39,Rockland,3751,18,0,0,0.479872,13,Rockland,323686,11.588391,0.055609,4.798720
13,Erie,617,12,0,0,1.944895,8,Erie,919866,0.670750,0.013045,19.448947
25,Monroe,420,9,0,0,2.142857,9,Monroe,744248,0.564328,0.012093,21.428571
12,Dutchess,667,5,0,0,0.749625,15,Dutchess,293894,2.269526,0.017013,7.496252
2,Broome,46,4,0,0,8.695652,19,Broome,194402,0.236623,0.020576,86.956522
48,Sullivan,143,4,0,0,2.797203,36,Sullivan,75211,1.901318,0.053184,27.972028
51,Ulster,240,3,0,0,1.250000,20,Ulster,179303,1.338516,0.016731,12.500000
24,Madison,68,2,0,0,2.941176,37,Madison,71359,0.952928,0.028027,29.411765
0,Albany,253,2,0,0,0.790514,14,Albany,307426,0.822962,0.006506,7.905138
31,Onondaga,301,2,0,0,0.664452,11,Onondaga,464242,0.648369,0.004308,6.644518
20,Herkimer,14,2,0,0,14.285714,40,Herkimer,62505,0.223982,0.031997,142.857143
1,Allegany,12,1,0,0,8.333333,52,Allegany,47025,0.255183,0.021265,83.333333
23,Livingston,18,1,0,0,5.555556,39,Livingston,63907,0.281659,0.015648,55.555556
30,Oneida,61,1,0,0,1.639344,16,Oneida,230782,0.264319,0.004333,16.393443
41,Schenectady,101,1,0,0,0.990099,22,Schenectady,154883,0.652105,0.006456,9.900990
40,Saratoga,132,1,0,0,0.757576,17,Saratoga,227377,0.580534,0.004398,7.575758
36,Otsego,21,1,0,0,4.761905,43,Otsego,60244,0.348582,0.016599,47.619048
17,Genesee,16,1,0,0,6.250000,44,Genesee,58112,0.275330,0.017208,62.500000
9,Columbia,45,1,0,0,2.222222,42,Columbia,60919,0.738686,0.016415,22.222222
5,Chautauqua,8,1,0,0,12.500000,23,Chautauqua,129656,0.061702,0.007713,125.000000
56,Wyoming,14,1,0,0,7.142857,55,Wyoming,40565,0.345125,0.024652,71.428571
43,Schuyler,3,0,0,0,0.000000,61,Schuyler,17992,0.166741,0.000000,0.000000
44,Seneca,4,0,0,0,0.000000,57,Seneca,34612,0.115567,0.000000,0.000000
45,St. Lawrence,39,0,0,0,0.000000,26,St. Lawrence,109558,0.355976,0.000000,0.000000
38,Rensselaer,60,0,0,0,0.000000,21,Rensselaer,159431,0.376338,0.000000,0.000000
42,Schoharie,9,0,0,0,0.000000,58,Schoharie,31364,0.286953,0.000000,0.000000
49,Tioga,8,0,0,0,0.000000,48,Tioga,49045,0.163116,0.000000,0.000000
50,Tompkins,80,0,0,0,0.000000,28,Tompkins,102962,0.776986,0.000000,0.000000
52,Warren,18,0,0,0,0.000000,38,Warren,64480,0.279156,0.000000,0.000000
53,Washington,12,0,0,0,0.000000,41,Washington,61828,0.194087,0.000000,0.000000
54,Wayne,27,0,0,0,0.000000,31,Wayne,90856,0.297174,0.000000,0.000000
46,Steuben,43,0,0,0,0.000000,30,Steuben,96927,0.443633,0.000000,0.000000
29,Niagara,91,0,0,0,0.000000,18,Niagara,211704,0.429845,0.000000,0.000000
37,Putnam,216,0,0,0,0.000000,29,Putnam,99070,2.180277,0.000000,0.000000
35,Oswego,23,0,0,0,0.000000,24,Oswego,119104,0.193109,0.000000,0.000000
3,Cattaraugus,8,0,0,0,0.000000,35,Cattaraugus,77686,0.102979,0.000000,0.000000
4,Cayuga,4,0,0,0,0.000000,34,Cayuga,77868,0.051369,0.000000,0.000000
6,Chemung,22,0,0,0,0.000000,32,Chemung,85740,0.256590,0.000000,0.000000
7,Chenango,28,0,0,0,0.000000,49,Chenango,48348,0.579135,0.000000,0.000000
8,Clinton,25,0,0,0,0.000000,33,Clinton,80794,0.309429,0.000000,0.000000
10,Cortland,11,0,0,0,0.000000,50,Cortland,48123,0.228581,0.000000,0.000000
11,Delaware,22,0,0,0,0.000000,53,Delaware,45502,0.483495,0.000000,0.000000
14,Essex,7,0,0,0,0.000000,56,Essex,37751,0.185426,0.000000,0.000000
15,Franklin,9,0,0,0,0.000000,46,Franklin,50692,0.177543,0.000000,0.000000
16,Fulton,6,0,0,0,0.000000,45,Fulton,53743,0.111642,0.000000,0.000000
18,Greene,21,0,0,0,0.000000,51,Greene,47617,0.441019,0.000000,0.000000
19,Hamilton,2,0,0,0,0.000000,62,Hamilton,4575,0.437158,0.000000,0.000000
21,Jefferson,15,0,0,0,0.000000,25,Jefferson,114448,0.131064,0.000000,0.000000
22,Lewis,2,0,0,0,0.000000,59,Lewis,26719,0.074853,0.000000,0.000000
26,Montgomery,8,0,0,0,0.000000,47,Montgomery,49426,0.161858,0.000000,0.000000
32,Ontario,26,0,0,0,0.000000,27,Ontario,109472,0.237504,0.000000,0.000000
34,Orleans,6,0,0,0,0.000000,54,Orleans,41175,0.145719,0.000000,0.000000
57,Yates,1,0,0,0,0.000000,60,Yates,25009,0.039986,0.000000,0.000000

In [20]:
state_with_population.sort_values(by='death_rate', ascending=False)

,Admin2,Confirmed,Deaths,Recovered,Active,death_rate,Rank,county,pop2019,fraction_confirmed,deaths,death_rate?
20,Herkimer,14,2,0,0,14.285714,40,Herkimer,62505,0.223982,0.031997,142.857143
5,Chautauqua,8,1,0,0,12.500000,23,Chautauqua,129656,0.061702,0.007713,125.000000
2,Broome,46,4,0,0,8.695652,19,Broome,194402,0.236623,0.020576,86.956522
1,Allegany,12,1,0,0,8.333333,52,Allegany,47025,0.255183,0.021265,83.333333
56,Wyoming,14,1,0,0,7.142857,55,Wyoming,40565,0.345125,0.024652,71.428571
17,Genesee,16,1,0,0,6.250000,44,Genesee,58112,0.275330,0.017208,62.500000
23,Livingston,18,1,0,0,5.555556,39,Livingston,63907,0.281659,0.015648,55.555556
36,Otsego,21,1,0,0,4.761905,43,Otsego,60244,0.348582,0.016599,47.619048
24,Madison,68,2,0,0,2.941176,37,Madison,71359,0.952928,0.028027,29.411765
48,Sullivan,143,4,0,0,2.797203,36,Sullivan,75211,1.901318,0.053184,27.972028
28,New York City,51809,1397,0,0,2.696443,63,New York City,8623000,6.008234,0.162009,26.964427
9,Columbia,45,1,0,0,2.222222,42,Columbia,60919,0.738686,0.016415,22.222222
25,Monroe,420,9,0,0,2.142857,9,Monroe,744248,0.564328,0.012093,21.428571
13,Erie,617,12,0,0,1.944895,8,Erie,919866,0.670750,0.013045,19.448947
30,Oneida,61,1,0,0,1.639344,16,Oneida,230782,0.264319,0.004333,16.393443
51,Ulster,240,3,0,0,1.250000,20,Ulster,179303,1.338516,0.016731,12.500000
41,Schenectady,101,1,0,0,0.990099,22,Schenectady,154883,0.652105,0.006456,9.900990
33,Orange,1993,19,0,0,0.953337,12,Orange,378227,5.269322,0.050234,9.533367
0,Albany,253,2,0,0,0.790514,14,Albany,307426,0.822962,0.006506,7.905138
47,Suffolk,8746,69,0,0,0.788932,4,Suffolk,1487901,5.878079,0.046374,7.889321
40,Saratoga,132,1,0,0,0.757576,17,Saratoga,227377,0.580534,0.004398,7.575758
12,Dutchess,667,5,0,0,0.749625,15,Dutchess,293894,2.269526,0.017013,7.496252
27,Nassau,10587,76,0,0,0.717862,6,Nassau,1356564,7.804276,0.056024,7.178615
31,Onondaga,301,2,0,0,0.664452,11,Onondaga,464242,0.648369,0.004308,6.644518
55,Westchester,11567,64,0,0,0.553298,7,Westchester,968815,11.939328,0.066060,5.532982
39,Rockland,3751,18,0,0,0.479872,13,Rockland,323686,11.588391,0.055609,4.798720
45,St. Lawrence,39,0,0,0,0.000000,26,St. Lawrence,109558,0.355976,0.000000,0.000000
53,Washington,12,0,0,0,0.000000,41,Washington,61828,0.194087,0.000000,0.000000
54,Wayne,27,0,0,0,0.000000,31,Wayne,90856,0.297174,0.000000,0.000000
50,Tompkins,80,0,0,0,0.000000,28,Tompkins,102962,0.776986,0.000000,0.000000
52,Warren,18,0,0,0,0.000000,38,Warren,64480,0.279156,0.000000,0.000000
38,Rensselaer,60,0,0,0,0.000000,21,Rensselaer,159431,0.376338,0.000000,0.000000
42,Schoharie,9,0,0,0,0.000000,58,Schoharie,31364,0.286953,0.000000,0.000000
49,Tioga,8,0,0,0,0.000000,48,Tioga,49045,0.163116,0.000000,0.000000
43,Schuyler,3,0,0,0,0.000000,61,Schuyler,17992,0.166741,0.000000,0.000000
44,Seneca,4,0,0,0,0.000000,57,Seneca,34612,0.115567,0.000000,0.000000
46,Steuben,43,0,0,0,0.000000,30,Steuben,96927,0.443633,0.000000,0.000000
29,Niagara,91,0,0,0,0.000000,18,Niagara,211704,0.429845,0.000000,0.000000
37,Putnam,216,0,0,0,0.000000,29,Putnam,99070,2.180277,0.000000,0.000000
35,Oswego,23,0,0,0,0.000000,24,Oswego,119104,0.193109,0.000000,0.000000
3,Cattaraugus,8,0,0,0,0.000000,35,Cattaraugus,77686,0.102979,0.000000,0.000000
4,Cayuga,4,0,0,0,0.000000,34,Cayuga,77868,0.051369,0.000000,0.000000
6,Chemung,22,0,0,0,0.000000,32,Chemung,85740,0.256590,0.000000,0.000000
7,Chenango,28,0,0,0,0.000000,49,Chenango,48348,0.579135,0.000000,0.000000
8,Clinton,25,0,0,0,0.000000,33,Clinton,80794,0.309429,0.000000,0.000000
10,Cortland,11,0,0,0,0.000000,50,Cortland,48123,0.228581,0.000000,0.000000
11,Delaware,22,0,0,0,0.000000,53,Delaware,45502,0.483495,0.000000,0.000000
14,Essex,7,0,0,0,0.000000,56,Essex,37751,0.185426,0.000000,0.000000
15,Franklin,9,0,0,0,0.000000,46,Franklin,50692,0.177543,0.000000,0.000000
16,Fulton,6,0,0,0,0.000000,45,Fulton,53743,0.111642,0.000000,0.000000
18,Greene,21,0,0,0,0.000000,51,Greene,47617,0.441019,0.000000,0.000000
19,Hamilton,2,0,0,0,0.000000,62,Hamilton,4575,0.437158,0.000000,0.000000
21,Jefferson,15,0,0,0,0.000000,25,Jefferson,114448,0.131064,0.000000,0.000000
22,Lewis,2,0,0,0,0.000000,59,Lewis,26719,0.074853,0.000000,0.000000
26,Montgomery,8,0,0,0,0.000000,47,Montgomery,49426,0.161858,0.000000,0.000000
32,Ontario,26,0,0,0,0.000000,27,Ontario,109472,0.237504,0.000000,0.000000
34,Orleans,6,0,0,0,0.000000,54,Orleans,41175,0.145719,0.000000,0.000000
57,Yates,1,0,0,0,0.000000,60,Yates,25009,0.039986,0.000000,0.000000