In [1]:
import sys
sys.path.append('../src')

In [2]:
from covid import daily_snapshot
from pathlib import Path

import population as pop
import pandas as pd
import requests

from usa import us_states, us_all

In [3]:
pd.set_option('max_rows', 300)

In [4]:
from datetime import datetime, timedelta

In [5]:
date = datetime.strftime(datetime.now() - timedelta(1), '%m-%d-%Y')

In [6]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [8]:
w = widgets.Dropdown(
    options=us_states(),
    value='New Jersey',
    description='State:',
    disabled=False,
)

In [9]:
w

Dropdown(description='State:', index=29, options=('Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Câ€¦

In [13]:
def f(state):
    return state

interact(f, state=us_states())

'Alabama'

In [16]:
state = 'Puerto Rico'

### Quick glance at the data

In [17]:
df = daily_snapshot(date)

In [18]:
df[df.Country_Region=='US'].Province_State.unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'Ohio', 'Pennsylvania',
       'Washington', 'Wisconsin', 'Vermont', 'Florida', 'North Carolina',
       'California', 'New York', 'Wyoming', 'Michigan', 'Maryland',
       'Alaska', 'Tennessee', 'Texas', 'Maine', 'Minnesota', 'Arizona',
       'Georgia', 'Arkansas', 'Kansas', 'New Jersey', 'South Dakota',
       'Alabama', 'West Virginia', 'North Dakota', 'Massachusetts',
       'Montana', 'New Hampshire', 'Oregon', 'New Mexico', 'Utah',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware', 'Northern Mariana Islands',
       'Diamond Princess', 'Grand Princess', 'Guam', 'Puerto Rico',
       'Recovered', 'Virgin Islands'], dtype=object)

In [19]:
df[df.Country_Region=='US'].describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,0.0,2374.000000,2374.000000,2421.000000,2421.000000,2421.000000,2421.0
mean,NaN,37.966235,-90.446936,127.571252,3.472532,6.052045,0.0
std,NaN,5.093458,14.200288,1416.244895,46.964447,297.782736,0.0
min,NaN,13.444300,-159.596679,0.000000,0.000000,0.000000,0.0
25%,NaN,34.281524,-95.931390,2.000000,0.000000,0.000000,0.0
50%,NaN,38.026690,-88.226627,7.000000,0.000000,0.000000,0.0
75%,NaN,41.459806,-82.440383,29.000000,1.000000,0.000000,0.0
max,NaN,65.508155,145.673900,63306.000000,1905.000000,14652.000000,0.0

### Aggregate by state

In [20]:
state_totals = df[df.Country_Region=='US'].groupby(by='Province_State').sum()

In [21]:
state_totals.describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,58.0,58.000000,58.000000,58.000000,58.000000,58.000000,58.0
mean,0.0,1553.997267,-3702.086651,5325.000000,144.948276,252.620690,0.0
std,0.0,1270.955405,3172.848636,15541.325081,480.465689,1923.901854,0.0
min,0.0,0.000000,-14852.378888,0.000000,0.000000,0.000000,0.0
25%,0.0,511.030915,-5636.300198,453.000000,7.250000,0.000000,0.0
50%,0.0,1287.901244,-3170.306929,1091.500000,28.500000,0.000000,0.0
75%,0.0,2541.243670,-958.649806,3899.500000,108.750000,0.000000,0.0
max,0.0,4798.990598,145.673900,113833.000000,3565.000000,14652.000000,0.0

In [22]:
state_totals

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
Province_State,,,,,,,
Alabama,0.0,2139.512410,-5636.444765,1614,44,0,0
Alaska,0.0,549.064225,-1289.558627,171,5,0,0
Arizona,0.0,505.138555,-1671.948482,2187,52,0,0
Arkansas,0.0,2125.739784,-5635.866498,743,14,0,0
California,0.0,1955.779666,-6274.644729,12837,289,0,0
Colorado,0.0,2066.438075,-5595.937440,4188,111,0,0
Connecticut,0.0,332.909441,-581.254637,5276,165,0,0
Delaware,0.0,117.327830,-226.599712,593,14,0,0
Diamond Princess,0.0,0.000000,0.000000,49,0,0,0
District of Columbia,0.0,38.904178,-77.016560,902,21,0,0
Florida,0.0,1788.534285,-5123.532000,11545,195,0,0
Georgia,0.0,4798.990598,-12215.639798,6160,201,0,0
Grand Princess,0.0,0.000000,0.000000,103,3,0,0
Guam,0.0,13.444300,144.793700,93,4,0,0
Hawaii,0.0,83.962590,-629.657823,351,3,0,0
Idaho,0.0,1368.509033,-3556.299843,1022,10,0,0
Illinois,0.0,2733.518100,-6061.475981,10357,244,0,0
Indiana,0.0,3468.207485,-7497.153428,3953,116,0,0
Iowa,0.0,2898.968081,-6432.035627,787,14,0,0
Kansas,0.0,1882.495725,-4741.542567,698,21,0,0
Kentucky,0.0,3054.854790,-6908.969368,917,40,0,0
Louisiana,0.0,1895.246321,-5600.764486,12496,409,0,0
Maine,0.0,669.164624,-1043.094276,456,10,0,0
Maryland,0.0,936.358097,-1840.211223,3125,54,0,0
Massachusetts,0.0,548.293200,-930.501649,11736,216,0,0
Michigan,0.0,3017.541028,-5861.871513,14225,540,0,0
Minnesota,0.0,2621.320961,-5463.782584,865,24,0,0
Mississippi,0.0,2562.703096,-6992.394179,1455,35,0,0
Missouri,0.0,2914.041279,-7022.816349,2310,33,0,0
Montana,0.0,1125.061962,-2678.579251,265,6,0,0
Nebraska,0.0,1195.224821,-2845.863888,321,6,0,0
Nevada,0.0,354.002394,-1058.069327,1742,46,0,0
New Hampshire,0.0,434.789729,-715.776567,540,7,0,0
New Jersey,0.0,846.015259,-1567.071444,34124,846,0,0
New Mexico,0.0,723.905779,-2229.120417,534,10,0,0
New York,0.0,2474.952404,-4383.622249,113833,3565,0,0
North Carolina,0.0,3241.583340,-7233.745601,2486,34,0,0
North Dakota,0.0,1187.811300,-2519.640655,186,3,0,0
Northern Mariana Islands,0.0,15.097900,145.673900,8,1,0,0
Ohio,0.0,3068.793045,-6298.645277,3739,102,0,0
Oklahoma,0.0,1989.016803,-5429.417667,1161,42,0,0
Oregon,0.0,1205.385727,-3285.831604,899,22,0,0
Pennsylvania,0.0,2612.324763,-4964.470775,10444,136,0,0
Puerto Rico,0.0,18.220800,-66.590100,452,18,0,0
Recovered,0.0,0.000000,0.000000,0,0,14652,0
Rhode Island,0.0,208.275711,-357.320525,806,17,0,0
South Carolina,0.0,1562.043718,-3725.236386,1917,40,0,0
South Dakota,0.0,1366.325360,-3054.782255,212,2,0,0
Tennessee,0.0,3086.004054,-7400.147182,3322,50,0,0
Texas,0.0,4766.694979,-14852.378888,6556,116,0,0
Utah,0.0,791.211942,-2231.901062,1435,8,0,0
Vermont,0.0,528.707995,-872.548734,461,20,0,0
Virgin Islands,0.0,18.335800,-64.896300,40,0,0,0
Virginia,0.0,4060.476320,-8449.938371,2407,52,0,0
Washington,0.0,1749.131512,-4466.775621,7247,315,0,0
West Virginia,0.0,1209.477129,-2493.364879,282,2,0,0
Wisconsin,0.0,2476.865391,-5025.237462,2030,54,0,0
Wyoming,0.0,729.137778,-1829.506738,187,0,0,0

In [23]:
state = 'Puerto Rico'
state_covid = df[df.Province_State == state]
state_columns=['Admin2', 'Confirmed', 'Deaths', 'Recovered', 'Active', ]

In [24]:
state_covid[state_columns].sort_values(by='Confirmed', ascending=False)

     Admin2  Confirmed  Deaths  Recovered  Active
FIPS
72.0    NaN        452      18          0       0

In [25]:
state_covid

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
72.0,NaN,NaN,Puerto Rico,US,2020-04-04 23:34:21,18.2208,-66.5901,452,18,0,0,"Puerto Rico, US"