In [1]:
import sys
sys.path.append('../src')

In [2]:
import ipywidgets as widgets
import pandas as pd
from ipywidgets import interact, interactive, fixed, interact_manual
from pathlib import Path

from covid import daily_snapshot
import population as pop
#import requests

In [3]:
pd.set_option('max_rows', 300)

In [4]:
def county_populations_for(state: str) -> pd.DataFrame:
    data = Path('../data/counties')
    state_pop_path = data / Path(state.replace(' ', '').lower() + '.csv')
    state_pop = pd.read_csv(state_pop_path)
    return state_pop

In [5]:
def f(state, date, sort_by, ascending):
    daily = daily_snapshot(datetime.strftime(date, '%m-%d-%Y'))
#     state_covid = pd.read_csv('../data/us-states-only.csv')
    county_pop = county_populations_for(state)
    state_with_population = pd.merge(daily, county_pop,
         how='outer',
         left_on='Admin2', right_on='county')

    state_with_population['fraction_confirmed'] = state_with_population['Confirmed'] / state_with_population['pop2019']   * 1000.0
    state_with_population['deaths']             = state_with_population['Deaths']    / state_with_population['pop2019']   * 1000.0
    state_with_population['death_rate?']        = state_with_population['Deaths']    / state_with_population['Confirmed'] * 1000.0

    # sort_by = input("column to sort Confirmed, Deaths, county, pop2019, fraction_confirmed, deaths, death_rate?")
    print(state_with_population.sort_values(by=sort_by, ascending=False))

In [6]:
cp = county_populations_for('wyoming')

In [7]:
cp.head()

   Rank      county  pop2019
0     1     Laramie    97692
1     2     Natrona    80610
2     3    Campbell    47708
3     4  Sweetwater    44117
4     5     Fremont    40076

In [8]:
state_covid = pd.read_csv('../data/us-states-only.csv')

In [9]:
state_covid.head(2)

     state
0  Alabama
1   Alaska

In [10]:
states = list(pd.read_csv('../data/us-states-only.csv').state)

state = widgets.Select(
    options=states,
    #value='Alabama',
    rows=10,
    description='State:',
    disabled=False
    )

from datetime import datetime, timedelta
date = widgets.DatePicker(description='Date',
                          value=datetime.today() - timedelta(1),
                          disabled=False
                          )

sort_by = widgets.Select(
    options=['Confirmed', 
             'Deaths', 
             'county', 
             'pop2019', 
             'fraction_confirmed', 
             'deaths', 
             'death_rate?'],
    value='fraction_confirmed',
    rows=7,
    description='sort by:',
    disabled=False
    )

ascending = widgets.Checkbox(
    value=True,
    description='Sort Ascending',
    disabled=False,
    indent=False
)

ui = widgets.HBox([state, date, sort_by, ascending])



out = widgets.interactive_output(f, {'state': state, 
                                     'date': date, 
                                     'sort_by': sort_by,
                                     'ascending': ascending})

display(ui, out)

      Unnamed: 0      Admin2 Province_State  Country_Region  \
1396         NaN      Marion        Indiana              US
573          NaN      Dallas          Texas              US
1532         NaN      Monroe       New York              US
1534         NaN      Monroe   Pennsylvania              US
772          NaN    Franklin           Ohio              US
...          ...         ...            ...             ...
2760         NaN         NaN            NaN  Western Sahara
2761         NaN         NaN            NaN          Zambia
2762         NaN         NaN            NaN        Zimbabwe
2763         NaN  unassigned        Wyoming              US
2764         NaN         NaN            NaN             NaN

              Last_Update        Lat      Long_  Confirmed  Deaths  Recovered  \
1396  2020-04-05 23:06:45  39.781636 -86.138263     1760.0    37.0        0.0
573   2020-04-05 23:06:45  32.766706 -96.777961     1112.0    18.0        0.0
1532  2020-04-05 23:06:45  43.146389 -77.693229      548.0    19.0        0.0
1534  2020-04-05 23:06:45  41.059341 -75.340310      528.0    11.0        0.0
772   2020-04-05 23:06:45  39.969958 -83.011158      597.0     8.0        0.0
...                   ...        ...        ...        ...     ...        ...
2760  2020-04-05 23:06:26  24.215500 -12.885800        4.0     0.0        0.0
2761  2020-04-05 23:06:26 -13.133897  27.849332       39.0     1.0        3.0
2762  2020-04-05 23:06:26 -19.015438  29.154857        9.0     1.0        0.0
2763  2020-04-05 23:06:45        NaN        NaN        0.0     0.0        0.0
2764                  NaN        NaN        NaN        NaN     NaN        NaN

      Active              Combined_Key  Rank    county  pop2019  \
1396     0.0       Marion, Indiana, US  38.0    Marion  29965.0
573      0.0         Dallas, Texas, US  31.0    Dallas  40029.0
1532     0.0      Monroe, New York, US  46.0    Monroe  21512.0
1534     0.0  Monroe, Pennsylvania, US  46.0    Monroe  21512.0
772      0.0        Franklin, Ohio, US  37.0  Franklin  31542.0
...      ...                       ...   ...       ...      ...
2760     4.0          ,,Western Sahara   NaN       NaN      NaN
2761    35.0                    Zambia   NaN       NaN      NaN
2762     8.0                  Zimbabwe   NaN       NaN      NaN
2763     0.0   unassigned, Wyoming, US   NaN       NaN      NaN
2764     NaN                       NaN  39.0    Geneva  26491.0

      fraction_confirmed    deaths  death_rate?
1396           58.735191  1.234774    21.022727
573            27.779860  0.449674    16.187050
1532           25.474154  0.883228    34.671533
1534           24.544440  0.511343    20.833333
772            18.927145  0.253630    13.400335
...                  ...       ...          ...
2760                 NaN       NaN     0.000000
2761                 NaN       NaN    25.641026
2762                 NaN       NaN   111.111111
2763                 NaN       NaN          NaN
2764                 NaN       NaN          NaN

[2765 rows x 18 columns]

HBox(children=(Select(description='State:', options=('Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',…

Output()